﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/HomePage.master" AutoEventWireup="true" CodeFile="ReportEventDashBoard.aspx.cs" Inherits="ReportEventDashBoard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
 <section id="main-content"  class="pg-dashboard">
    <div class="wrapper">
        <div class="boxset" id="dvAdminDashBoard">

            <div class="boxset-box">
                <a id="hrfAllTraining" runat="server" href="#" class="boxset-box-wrapper ">
                    <div class="boxset-box-inner">
                        <h4 class="boxset-title"><%= Resources.Resource.lblAllTraining%></h4>
                    </div>
                </a>
            </div>
            <div class="boxset-box">
                <a id="hrfSpecificTraining" runat="server" href="#" class="boxset-box-wrapper">
                    <div class="boxset-box-inner">
                        <h4 class="boxset-title"><%= Resources.Resource.lblSpecificTrainingEvent%></h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </section>
</asp:Content>
