@charset utf-8;
body,td,th{font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;font-size:11px;color:#515151;}
body{background-color:#fff;background-position:top center;background-repeat:repeat-y;margin:0;}
a img{border:0 none!important;}
a{font-size:11px;color:#185375;}
a:active{text-decoration:none;color:#1A9F00;}
h1{font-size:14px;color:#AF3333;display:block;line-height:24px;margin:0;}
h2{font-size:12px;color:#515151;display:block;height:25px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#515151;line-height:25px;font-weight:700;text-align:left;margin:0;}
h3{font-size:11px;color:#FFFEFD;display:block;height:30px;background-image:url(../image/bck_h3.jpg);background-repeat:repeat-x;line-height:24px;padding-left:12px;font-weight:700;margin-top:0;margin-bottom:0px;}
h4{font-size:11px;color:#393839;display:block;height:30px;background-color:#f9f9f8; background-image: url(../image/bck_titleWhite.png);background-repeat:repeat-y;line-height:30px;padding-left:5px;font-weight:700;margin-top:0;margin-bottom:0px;}
h5{font-size:14px;color:#5C5C5C;}
h6{font-size:12px;color:#1A9F00;}
p{text-align:justify;}
input,textarea,select{border:1px solid #797D7F;margin-bottom:0;}
a:link,a:visited{/*text-decoration:none;*/}
a:hover{color:#1A9F00;}
input[type=text],input[type=password]{width:175px; margin:0px;}
select{width:179px;}
.clear{clear:both;height:20px;}
.clear0{clear:both;height:0;}
.lightGray{color:#B8C9D2;}
.white{color:#FDFDFA;}
.green{color:#304467;}
.div-dialog-command{text-align:right; border-top:1px solid #ccc; padding:5px;}
.messagecenterInformation{min-height:23px;background-color:#CAE4FF;border:1px solid #036;padding:5px;}
.messagecenterSuccess{min-height:23px;background-color:#CFC;border:1px solid #060;padding:5px;}
.messageCenterIcon{display:block;float:left;width:48px;height:48px;margin-right:10px;}
.messagecenterInformation div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/info.png);}
.messagecenterSuccess div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/success.png);}
.messagecenterFailure div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/error.png);}
.messagecenterCritical div.messageCenterIcon{width:48px;height:48px;background-image:url(../image/icon/critical.png);}
.validationSummary{background-color:#FCC;border:1px solid #C00;padding:5px;}
.verticalalign img,.verticalalign span,.verticalalign input{vertical-align:middle;}
.messagecenterFailure,.messagecenterCritical{min-height:23px;background-color:#FCC;border:1px solid #C00;padding:5px;}
/*Dialog loading animater class*/
.loading-image { background: transparent url('../image/ajax-loader.gif') no-repeat center center; }

.div_command{text-align:right; border-top:1px solid #ccc; padding:5px; padding-right:0px;}

/*icons*/
.ic_delete{display:block; width:20px; height:20px; overflow:hidden; background-image:url('../image/del_2.png'); background-repeat:no-repeat; line-height: 0; font-size: 0;color: transparent; }

.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;}