@charset "UTF-8";
/* CSS Document */


.clsBodyPart, .clsBodyPart td {
	border:1px solid white!important;
	border-color:#FFF!important;
	border-collapse:collapse;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10pt;
	
}

.black_cell {
	background: #000;
}

table {
	page-break-inside: avoid;
	vertical-align: top;
}

.tableOneA td, tr {
	border: 1px solid #000;
	
}

.tableOne td, tr {
	border: 1px solid #000;
	
}

.tableTwo td, tr {
	border: 1px solid #000;
	text-align: left;
	
}

.tableTwo tbody tr td table {
	text-align: center;
	
}
.tableTwo tbody tr td table tbody tr td {
	text-align: center;
	border: none;
	height: 15px;
	
}

.tableThree td, tr {
	border: 1px solid #000;
	text-align: left;
}



.tableFour td, tr {
	border: 1px solid #000;
}


.tableFive td, tr {
	border: 1px solid #000;
	vertical-align: top;
}

.tableFive p {
	margin: 0;
	padding: 0;
}

.tableSix td, tr {
	border: 1px solid #000;
	vertical-align: top;
}

.tableSix p {
	margin: 0;
	padding: 0;
}

.tableSeven td, tr {
	border: 1px solid #000;
	vertical-align: top;
}

.tableSeven p {
	margin: 0;
	padding: 0;
}

.tableEight  td, tr {
	border: 1px solid #000;
	vertical-align: top;
}

.tableEight tbody tr td table tbody tr td {
	text-align: center;
	border: none;
	height: 15px;
}

.tableNine td, tr {
	border: 1px solid #000;
}

.tableTen {
	width: 900px;
}

.tableTen td, tr {
	border: 1px solid #000;
	text-align: left;
	vertical-align: top;
}

.tableTen p {
	margin: 0;
	padding: 0;
}

.tableTen tbody tr td table tr td {
	border: none;
}

.tableEleven td, tr {
	border: 1px solid #000;
}
.tableEleven p {
	margin: 0;
	padding: 0;
}




.tableTwelve td, tr {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	vertical-align: top;
}

.tableTwelve {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	
}


.tableTwelve p {
	margin: 0;
	padding: 0;
}

.tableTwelveA td, tr {
	border: 1px solid #000;
	vertical-align: top;
}

.tableTwelveA p {
	margin: 0;
	padding: 0;
}


.numTitle {
	font-size: 20px;
	font-weight: bold;
	padding-top: 14px;
	width: 900px;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom:1px;
	padding:0;
}

.table {
	margin: 0;
	padding: 0;
}

.fontSize1 {
	font-size: 10pt;
}

.subTitle {
	font-size: 10pt;
}

.fontSizeSmall {
	font-size: 7pt;	
}

.question {
	float: left;
	font-weight:bold;
}

.answer {
	float: left;
	padding-left: 5px;
	font-size: 10pt;
}

.answerMonFri {
	margin-left: auto;
	margin-right: auto;
	
}

.answerCentered {
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.checkBox {
	width: 10px;
	height: 10px;
	border: 1px solid #000;
}

.checkOn {
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	background: url('/includes/__TBSAI2013Class/_images/check.gif') center #fff;
}

.clsImage2{
	clear: both;
	margin-top: 10px;
}

.mj-cus2 {width:300px;border:1px solid #000;float:right;padding:5px;}
.mj-cus2 table {border-left:0;border-right:0;border-top:0;border-bottom:0;}
.mj-cus2 tr {border:none;}
.mj-cus2 td {border:none;padding:5px 0;}

.textbox {
	padding-top:20px;
	padding-bottom: 20px;
	padding-left:5px;
	padding-right:5px;
}





