/*

	PENSIVO LMS -
	VERSION 2.0 [AI REPORTS]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	122080215
	
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .plms-select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

i {
  font-style: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

html.font-size-s {
  font-size: 90%; }
html.font-size-m {
  font-size: 100%; }
html.font-size-l {
  font-size: 110%; }

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Arial, Helvetica;
  line-height: 1.75em; }

code {
  clear: both;
  background: #002b36;
  padding: 5px;
  color: #fff;
  font-family: Courier; }

.has-error {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(218, 62, 39, 0.75);
  border: 1px solid #fd0011;
  border: 1px solid rgba(253, 0, 17, 0.5);
  background: #fff2f3; }

abbr {
  cursor: help;
  border-bottom: 0; }

#top {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  width: 0; }

.wrapper {
  position: relative; }

.wrapper:after {
  clear: both;
  content: "";
  display: block; }

dt {
  font-weight: bold; }

b {
  font-weight: normal; }

a {
  outline: 0; }

a:active {
  background-color: transparent; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

p > a {
  color: #0493f4; }

.left {
  float: left; }

.hero {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #555; }

p > a:hover {
  color: #7c7c7c;
  text-decoration: none; }

.clr1 {
  color: #d65f2d; }

.clr2 {
  color: #ed9410; }

.clearfix {
  clear: both;
  content: "";
  display: block; }

.highlighter {
  padding: 0 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px; }
  .highlighter.primary {
    background: #fbf1ed;
    color: #d65f2d; }
  .highlighter.secondary {
    background: #fdf4e5;
    color: #ed9410; }

p, h1, h2, h3, h4, h5, h6, ul, ol, .basemargin, code {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5 {
  line-height: 1.25em; }

h1, .h1 {
  font-size: 48px;
  font-size: 3rem; }

h2, .h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3, .h3 {
  font-size: 32px;
  font-size: 2rem; }

h4, .h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 21px;
  font-size: 1.3125rem; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ul, ol ul {
  list-style-type: circle;
  margin-left: 15px;
  margin-top: 7px; }

ol ul {
  margin-left: 20px; }

.plms-table table {
  width: 100%; }
.plms-table th {
  text-align: left;
  background: #404040;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase; }
.plms-table th, .plms-table td {
  padding: 10px;
  vertical-align: middle;
  line-height: 1.25em; }
.plms-table tr {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.plms-table tr:last-child {
  border: 0; }
.plms-table tr:nth-child(odd) td {
  background: #efefef; }
.plms-table tr.is-selected td {
  background: #ed9410 !important;
  color: #fff; }

ol ol {
  list-style-type: lower-latin;
  margin-left: 20px;
  margin-top: 7px; }

li {
  margin-bottom: 7px; }

li:last-child {
  margin-bottom: 0; }

ul, ol {
  list-style-position: inside; }

.specs {
  display: none; }

::-webkit-input-placeholder {
  color: #939393; }

:-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 18- */
::-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #939393; }

@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 36px;
    font-size: 2.25rem; }

  h2, .h2 {
    font-size: 32px;
    font-size: 2rem; }

  h3, .h3 {
    font-size: 24px;
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h5, .h5 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 500px) {
  h1, .h1 {
    font-size: 32px;
    font-size: 2rem; }

  h2, .h2 {
    font-size: 24px;
    font-size: 1.5rem; }

  h3, .h3 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h4, .h4 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 400px) {
  .hero {
    font-size: 18px;
    font-size: 1.125rem; }

  h1, .h1 {
    font-size: 24px;
    font-size: 1.5rem; }

  h2, .h2 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h3, .h3 {
    font-size: 16px;
    font-size: 1rem; } }
.wrapper {
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .wrapper.width-sml {
    max-width: 500px; }
  .wrapper.width-med {
    max-width: 700px; }

.lockdown {
  overflow: hidden; }

html, body, #frm {
  height: 100%; }

#main-footer, .layout-push {
  height: 100px; }

#main-header {
  position: relative;
  z-index: 5; }

#global-wrapper {
  min-height: 100%;
  margin-bottom: -100px; }
  #global-wrapper:after {
    clear: both;
    content: "";
    display: block; }

.topbar {
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .topbar.primary {
    padding: 20px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .topbar.secondary {
    z-index: 5;
    position: relative;
    background: #717073; }
    .topbar.secondary .btn {
      background: #d65f2d;
      color: #d7d7d7; }
      .topbar.secondary .btn:hover {
        background: #de8058;
        color: ""; }
  .topbar.tertiary {
    display: block;
    background: #f5f4f4;
    border-bottom: 1px solid #e4e4e4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .topbar.tertiary .contents-b {
      float: right; }
  html.lt-ie8 .topbar {
    width: auto; }

.l-valign-wrap {
  display: table;
  height: 100%;
  float: left; }

.l-valign {
  vertical-align: middle;
  display: table-cell; }

.main-logo {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 0;
  height: 36px; }
  .main-logo img {
    width: 100%; }
  @media screen and (max-width: 600px) {
    .main-logo {
      width: 30%;
      height: auto; } }
  @media screen and (max-width: 550px) {
    .main-logo {
      position: static;
      margin: 0 auto 15px auto; } }

.sticky-wrapper {
  float: left;
  width: 100%; }
.sticky-wrapper.fixed {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 900;
  top: 0; }

.globalnav-sub {
  float: right; }
.globalnav-sub ul {
  list-style: none;
  margin: 0; }
.globalnav-sub li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 0; }
  .globalnav-sub li:last-child {
    margin: 0; }
  .globalnav-sub li.last-child {
    margin: 0; }
  html.no-cssremunit .globalnav-sub li.li-fontsize {
    display: none; }
.globalnav-sub .alt-margin {
  margin-right: 10px; }
.globalnav-sub .plms-tooltip {
  margin-top: 5px; }
.globalnav-sub .settings {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #b6b6b6;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding-right: 20px;
  margin-right: 20px;
  font-size: 0; }
.globalnav-sub a {
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  color: #d7d7d7; }
.globalnav-sub .lang a {
  text-decoration: none;
  position: relative;
  padding-right: 17px; }
.globalnav-sub .lang .plms-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px; }
.globalnav-sub .lang:hover .plms-icon {
  background-position: -22px -26px; }
.globalnav-sub .plms-icon.fontsize {
  cursor: pointer; }
.globalnav-sub .fontsize {
  font-size: 16px;
  font-size: 1rem; }
.globalnav-sub a:hover {
  color: #fff; }
.globalnav-sub > .btn {
  padding: 7px 10px;
  color: #fff;
  float: none;
  font-size: 11px;
  font-size: 0.6875rem; }
.globalnav-sub > .btn:hover {
  opacity: 1; }
.globalnav-sub .search {
  height: 24px;
  width: 24px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
.globalnav-sub .search a {
  text-indent: -999em; }
@media screen and (max-width: 550px) {
  .globalnav-sub {
    float: none;
    display: table;
    margin: 0 auto; } }
@media screen and (max-width: 400px) {
  .globalnav-sub li {
    margin-right: 15px; }
  .globalnav-sub a {
    font-size: 11px;
    font-size: 0.6875rem; }
  .globalnav-sub .settings {
    padding-right: 15px;
    margin-right: 15px; }
  .globalnav-sub .btn {
    margin-left: 0;
    font-size: 9px;
    font-size: 0.5625rem; } }
html.lt-ie8 .globalnav-sub {
  display: inline;
  zoom: 1; }
  html.lt-ie8 .globalnav-sub li {
    display: inline;
    zoom: 1; }
  html.lt-ie8 .globalnav-sub .settings {
    display: inline;
    zoom: 1; }

.globalnav-main {
  float: right; }
.globalnav-main ul {
  list-style: none;
  font-size: 0;
  margin: 0;
  float: left; }
.globalnav-main li {
  margin: 0 0 0 20px;
  float: left; }
.globalnav-main li:first-child {
  margin: 0; }
.globalnav-main .menu-handle {
  cursor: pointer;
  position: relative;
  display: none;
  float: left;
  margin-left: 20px;
  padding-left: 34px; }
  .globalnav-main .menu-handle.active .menu-handle-icon, .globalnav-main .menu-handle:hover .menu-handle-icon {
    border-color: #7f7f7f; }
  .globalnav-main .menu-handle.active .bar, .globalnav-main .menu-handle:hover .bar {
    background: #7f7f7f; }
  .globalnav-main .menu-handle.active a, .globalnav-main .menu-handle:hover a {
    color: #aaa; }
.globalnav-main .menu-handle-icon {
  display: block;
  width: 24px;
  height: 16px;
  border-top: 4px solid #bfbfbf;
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -ms-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px; }
.globalnav-main .bar {
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -ms-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  display: block;
  background: #bfbfbf; }
  .globalnav-main .bar.bar-1 {
    top: 3px; }
  .globalnav-main .bar.bar-2 {
    top: 10px; }
.globalnav-main a {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  line-height: 1em; }
  .globalnav-main a:hover, .globalnav-main a.cur {
    color: #aaa; }
  .globalnav-main a.cur {
    cursor: auto; }
@media screen and (max-width: 1100px) {
  .globalnav-main ul > li {
    margin-left: 15px; }
  .globalnav-main li > a {
    font-size: 12px;
    font-size: 0.75rem; } }
@media screen and (max-width: 850px) {
  .globalnav-main ul {
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    z-index: 940;
    max-width: 300px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: url("/plms/v21/_images/ffffff-095.png");
    background: rgba(255, 255, 255, 0.95);
    overflow-y: scroll;
    overflow-x: hidden; }
    .globalnav-main ul.active {
      display: block; }
  .globalnav-main .menu-handle {
    display: block; }
  .globalnav-main ul > li {
    float: left;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #e4e4e4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .globalnav-main ul > li:last-child {
      border: 0; }
  .globalnav-main li > a {
    padding: 15px 20px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal; }
  html.lt-ie8 .globalnav-main ul {
    width: 300px; }
  html.lt-ie8 .globalnav-main ul > li {
    clear: both;
    display: block; } }
@media screen and (max-width: 550px) {
  .globalnav-main ul {
    max-width: none; } }
@media screen and (max-width: 400px) {
  .globalnav-main {
    width: 100%; }
  .globalnav-main .menu-handle {
    float: none;
    display: table;
    margin: 0 auto; } }

.column {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .column.span-1 {
    width: 008.3333333%; }
  .column.span-2 {
    width: 016.666667%; }
  .column.span-3 {
    width: 25%; }
  .column.span-4 {
    width: 033.333333%; }
  .column.span-5 {
    width: 041.666667%; }
  .column.span-6 {
    width: 50%; }
  .column.span-7 {
    width: 058.333333%; }
  .column.span-8 {
    width: 066.666667%; }
  .column.span-9 {
    width: 75%; }
  .column.span-10 {
    width: 083.333333%; }
  .column.span-11 {
    width: 091.666667%; }
  .column.span-12 {
    width: 100%; }
  .column.span-6:first-child {
    padding-right: 30px; }
  .column.span-6:last-child {
    padding-left: 30px; }

#main-footer {
  clear: both;
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 20px;
  position: relative;
  z-index: 3;
  background: #fff;
  border-top: 1px solid #e4e4e4;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); }
  #main-footer p {
    margin: 0; }
  #main-footer p, #main-footer p * {
    font-size: 12px;
    font-size: 0.75rem; }

.main-content-header {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  position: relative; }

#main-content {
  float: left;
  width: 100%;
  padding: 0 20px 100px 20px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #main-content .wrapper {
    padding: 40px 0;
    z-index: 2; }
  #main-content:after {
    clear: both;
    content: "";
    display: block; }
  html.lt-ie8 #main-content {
    width: auto;
    padding: 0;
    float: none; }

/*
.main-content-body {
	padding-left:20px;
}
*/
.boxed-content {
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.15); }
  html.lt-ie8 .boxed-content {
    float: none;
    width: 90%;
    margin: 0 auto; }

.btn.forgot-pwd {
  padding-right: 0; }

.btn.reset-pwd {
  margin-top: 10px; }

.form-section-header {
  clear: both;
  width: 100%;
  float: left; }
  .form-section-header :last-child {
    margin-bottom: 0; }
  .form-section-header h1, .form-section-header h2, .form-section-header h3, .form-section-header h4, .form-section-header h5, .form-section-header h6 {
    margin-bottom: 10px; }

.form-footer {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 20px; }
  .form-footer:after {
    clear: both;
    content: "";
    display: block; }

.input-button-group {
  position: relative;
  width: 100%;
  float: left; }
  .input-button-group .plms-fieldset {
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .input-button-group .btn {
    padding: 12px 7px;
    line-height: 1.25em;
    position: absolute;
    bottom: 0;
    right: 0; }

.btn {
  display: block;
  float: left;
  text-transform: uppercase;
  text-shadow: none !important;
  letter-spacing: 1px;
  font-size: 11px;
  font-size: 0.6875rem;
  background: #d65f2d;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  /* --- */ }
  html.lt-ie8 .btn {
    border: 0; }
  .btn.large {
    font-size: 16px;
    font-size: 1rem; }
  .btn.xlarge {
    font-size: 18px;
    font-size: 1.25rem; }
  .btn.fluid {
    float: none;
    text-align: center; }
  .btn.align-r {
    float: right; }
  .btn.hyperlink {
    color: #0493f4;
    background: 0;
    text-decoration: underline; }
  .btn.hyperlink:first-child {
    padding-left: 0; }
  .btn.hyperlink:hover {
    text-decoration: none;
    color: #777;
    background: 0; }
  .btn.c-case {
    text-transform: capitalize;
    letter-spacing: 0; }
  .btn.med {
    padding: 12px;
    font-size: 16px;
    font-size: 1rem; }
  .btn.lrg {
    padding: 15px;
    font-size: 18px;
    font-size: 1.125rem; }
  .btn.reset {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important; }
  .btn > .icon {
    position: absolute;
    top: 50%;
    left: 10px; }
  .btn.icon-size-12 {
    padding-left: 32px; }
  .btn.icon-size-16 {
    padding-left: 36px; }
  .btn.icon-size-18 {
    padding-left: 38px; }
  .btn.icon-size-24 {
    padding-left: 44px; }
  .btn.icon-size-32 {
    padding-left: 52px; }
  .btn.icon-size-36 {
    padding-left: 56px; }
  .btn.icon-size-48 {
    padding-left: 68px; }
  .btn:hover, .btn.hover {
    background: #de8058; }
  .btn.selected, .btn.selected:hover {
    background: #ed9410;
    cursor: auto; }
  .btn.skin2 {
    background: #ed9410;
    color: #fff; }
    .btn.skin2:hover, .btn.skin2.hover {
      background: #f2aa3e; }
  .btn.is-disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.2) !important;
    background: #ddd !important;
    color: #c3c3c3;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1); }

.button a {
  background: #888;
  text-decoration: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
.button.alt a {
  background: #ed9410; }

.plms-icon {
  display: block;
  background-image: url("/plms/v21/_images/sprite2.png");
  background-image: url("/plms/v21/_images/sprite2.svg"), none; }

.plms-icon.size-12 {
  width: 12px;
  height: 12px;
  /*margin-top:-6px;*/ }

.plms-icon.size-16 {
  width: 16px;
  height: 16px;
  /*margin-top:-8px;*/ }

.plms-icon.size-18 {
  width: 18px;
  height: 18px;
  /*margin-top:-9px;*/ }

.plms-icon.size-24 {
  width: 24px;
  height: 24px;
  /*margin-top:-12px;*/ }

.plms-icon.size-32 {
  width: 32px;
  height: 32px;
  /*margin-top:-16px;*/ }

.plms-icon.size-36 {
  width: 36px;
  height: 36px;
  /*margin-top:-18px;*/ }

.plms-icon.size-48 {
  width: 48px;
  height: 48px;
  /*margin-top:-24px;*/ }

.plms-icon.letter-a.size-16 {
  background-position: 0 0; }

.plms-icon.letter-a.size-16:hover {
  background-position: -26px 0; }

.plms-icon.updown-arrows.size-12 {
  background-position: 0 -26px; }

.plms-icon.updown-arrows.size-12:hover {
  background-position: -22px -26px; }

.plms-icon.question-mark.size-16 {
  background-position: 0 -48px; }

.plms-icon.question-mark.size-16:hover {
  background-position: -26px -48px; }

.plms-icon.solid-x.size-24 {
  background-position: -34px -74px; }
  .plms-icon.solid-x.size-24:hover {
    background-position: -68px -74px; }
  .plms-icon.solid-x.size-24.inverse {
    background-position: -68px -74px; }
    .plms-icon.solid-x.size-24.inverse:hover {
      background-position: 0 -74px; }

.plms-icon.chevron-right.size-24 {
  background-position: -34px -208px; }

.plms-icon.chevron-right.size-24:hover {
  background-position: 0 -208px; }

.plms-icon.chevron-right.size-16 {
  background-position: -26px -275px; }

.plms-icon.chevron-right.size-16:hover {
  background-position: 0 -275px; }

.plms-icon.chevron-down.size-16 {
  background-position: -26px -302px; }

.plms-icon.chevron-down.size-16:hover {
  background-position: 0 -302px; }

.plms-icon.calendar.size-24 {
  background-position: 0 -174px; }

.plms-icon.calendar.size-24:hover {
  background-position: -32px -174px; }

.plms-icon.checkbox-unchecked {
  cursor: pointer; }

.plms-icon.checkbox-unchecked.size-24 {
  background-position: 0 -328px; }

.plms-icon.checkbox-unchecked-white.size-24 {
  background-position: -34px -328px; }

.plms-icon.checkbox-checked.size-24 {
  background-position: 0 -362px; }

.plms-icon.checkbox-checked-white.size-24 {
  background-position: -34px -362px; }

.plms-icon.round-checkmark.size-24 {
  background-position: 0 -418px; }

.plms-icon.nobg-x.size-12 {
  background-position: -22px -396px; }

.breadcrumbs {
  float: left;
  display: table;
  height: 30px; }

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  display: table-cell;
  vertical-align: middle; }

.breadcrumbs li {
  margin: 0 5px 0 0;
  display: block;
  float: left; }

.breadcrumbs * {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1em; }

.breadcrumbs .chevron {
  margin: 0 5px 0 0; }

.fa {
  text-decoration: none; }

.font-settings {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.5em;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  transition: color 250ms linear; }
  .font-settings:hover {
    color: #555; }

.imggal {
  width: 100%;
  float: left;
  clear: both;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .imggal .main {
    padding: 5px 5px 0 5px;
    background: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .imggal .thumbnails {
    clear: both;
    padding: 0 5px 5px 5px;
    background: #000;
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .imggal img {
    width: 100%; }
  .imggal a {
    display: block;
    float: left;
    width: 12.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .imggal a img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 5px solid #000; }
  .imggal a:hover img {
    border-top: 5px solid #828282;
    opacity: 0.8; }
  .imggal a.cur img {
    border-top: 5px solid #d65f2d;
    opacity: 1; }

.boxset {
  width: 100%;
  float: left;
  margin: 0 0 20px 0; }
  .boxset * {
    color: #fff;
    text-align: center; }
  .boxset :last-child {
    margin: 0; }

.boxset-box {
  float: left;
  width: 33.3333333%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 260px;
  line-height: 260px; }
  .boxset-box:nth-child(3n+1) {
    clear: left; }
  .boxset-box:nth-child(3n-1) {
    padding-left: 20px; }
  .boxset-box:nth-child(3n+3) {
    padding-left: 20px; }
  .boxset-box.nth-child-3np1 {
    clear: left; }
  .boxset-box.nth-child-3nm1 {
    padding-left: 20px; }
  .boxset-box.nth-child-3np3 {
    padding-left: 20px; }
  html.lt-ie8 .boxset-box {
    width: 32%; }
    html.lt-ie8 .boxset-box.nth-child-3np1 {
      clear: left; }
    html.lt-ie8 .boxset-box.nth-child-3nm1 {
      padding-left: 1.9%; }
    html.lt-ie8 .boxset-box.nth-child-3np3 {
      padding-left: 1.9%; }
  .boxset-box .boxset-box-wrapper {
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #d65f2d;
    height: 260px;
    line-height: 260px;
    text-decoration: none;
    display: table;
    *display: block;
    width: 100%; }
    .boxset-box .boxset-box-wrapper:hover, .boxset-box .boxset-box-wrapper.is-selected {
      background: #ed9410; }
      .boxset-box .boxset-box-wrapper:hover, .boxset-box .boxset-box-wrapper:hover *, .boxset-box .boxset-box-wrapper.is-selected, .boxset-box .boxset-box-wrapper.is-selected * {
        color: #fff; }
    .boxset-box .boxset-box-wrapper.is-selected {
      cursor: text; }
    .boxset-box .boxset-box-wrapper.is-disabled {
      cursor: not-allowed;
      background: rgba(0, 0, 0, 0.2);
      background: #ddd; }
      .boxset-box .boxset-box-wrapper.is-disabled * {
        color: #c7c7c7;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1); }

.boxset-box-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 30px; }

@media screen and (max-width: 1000px) {
  h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5em; }

  .boxset-body * {
    font-size: 14px;
    font-size: 0.875rem; } }
.boxset-summary {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 20px;
  clear: both; }
  .boxset-summary :last-child {
    margin: 0; }

.boxset-summary-header {
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.boxset-summary-body {
  padding: 20px; }

@keyframes accordionFlicker {
  50% {
    background-color: #de8058; } }
@-webkit-keyframes accordionFlicker {
  50% {
    background-color: #de8058; } }
.plms-accordion {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .plms-accordion.is-open {
    background: #faf9f9; }
  .plms-accordion.soft {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); }
  .plms-accordion.is-faq .h6 {
    margin: 0; }
  .plms-accordion.is-faq {
    margin: 0 0 1px 0; }
  .plms-accordion.is-faq .plms-accordion-header {
    cursor: pointer; }
  .plms-accordion.disable-toggle .openclose-icon {
    display: none; }
  .plms-accordion.disable-toggle .plms-accordion-header {
    padding: 20px; }
  .plms-accordion.flickr {
    animation: accordionFlicker 500ms ease 1;
    -webkit-animation: accordionFlicker 500ms ease 1;
    -moz-animation: accordionFlicker 500ms ease 1; }
  .plms-accordion.selected-items {
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15); }
    .plms-accordion.selected-items .plms-icon-accordion {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -8px;
      opacity: 0.5; }
    .plms-accordion.selected-items .plms-accordion-title {
      font-weight: bold;
      margin-top: 0; }
    .plms-accordion.selected-items .counter {
      font-weight: normal;
      color: rgba(0, 0, 0, 0.5); }
    .plms-accordion.selected-items .plms-accordion-header {
      padding: 12px;
      cursor: pointer; }
    .plms-accordion.selected-items .plms-accordion-body {
      padding: 0; }
    .plms-accordion.selected-items .plms-accordion-body-content {
      padding: 0; }
    .plms-accordion.selected-items .plms-table {
      border: 0; }
  .plms-accordion .span-8 {
    padding-right: 40px; }
  html.lt-ie8 .plms-accordion {
    float: none;
    width: auto; }
    html.lt-ie8 .plms-accordion .span-8 {
      padding: 0; }

.plms-accordion-body {
  padding-top: 20px;
  border-top: 1px solid #e4e4e4;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .plms-accordion-body p {
    margin-bottom: 10px; }

.plms-accordion-title {
  margin: 0;
  line-height: 1.5em;
  float: left;
  margin-top: -5px;
  width: 100%; }

.plms-accordion-excerpt {
  clear: both;
  display: block;
  line-height: 1.5em;
  margin-top: 5px;
  float: left;
  width: 100%;
  color: #aaa; }

.plms-accordion.is-open .plms-accordion-excerpt {
  color: #666; }

.plms-accordion-header {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px;
  padding-right: 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plms-accordion-header.tooltip-on {
    z-index: 4; }
  html.lt-ie8 .plms-accordion-header {
    width: auto;
    float: none;
    overflow: auto;
    zoom: 1; }

.plms-accordion-body {
  clear: both;
  display: none; }

.plms-accordion.is-open .plms-accordion-body {
  display: block; }

.plms-accordion-body-content {
  padding: 0 20px 20px 20px;
  clear: both; }
  .plms-accordion-body-content :last-child {
    margin-bottom: 0; }

.completed, .completed:hover {
  background: #efefef;
  color: #729d1e;
  cursor: auto; }

.plms-accordion-nav {
  float: left;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plms-accordion-nav ul {
    list-style: none; }
  .plms-accordion-nav li {
    float: left;
    margin: 0 1px 0 0; }
  .plms-accordion-nav a {
    padding: 15px 20px;
    background: #717073;
    color: #fff;
    display: block;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    border: 1px solid transparent; }
    .plms-accordion-nav a:hover {
      background: #d65f2d;
      color: #fff; }
  .plms-accordion-nav .cur a {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    text-decoration: none;
    background: 0;
    cursor: auto;
    color: #333; }
  html.lt-ie8 .plms-accordion-nav {
    width: 90%; }

.openclose-icon {
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
  background-image: url("/plms/v21/_images/sprite2.png");
  background-image: url("/plms/v21/_images/sprite2.svg"), none;
  position: absolute;
  top: 20px;
  right: 20px; }
  .openclose-icon.closed {
    background-position: -34px -208px; }
  .openclose-icon.closed:hover {
    background-position: 0 -208px; }
  .openclose-icon.opened {
    background-position: -34px -242px; }
  .openclose-icon.opened:hover {
    background-position: 0 -242px; }

.plms-accordion-metadata {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px; }
  .plms-accordion-metadata.is-hidden {
    display: none; }

.plms-accordion-metadata-item {
  margin-bottom: 5px;
  float: left;
  width: 100%; }
  .plms-accordion-metadata-item:last-child {
    margin: 0; }
  .plms-accordion-metadata-item span {
    font-size: 11px;
    font-size: 0.6875rem;
    text-transform: uppercase;
    line-height: 1.25em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .plms-accordion-metadata-item .key {
    font-weight: bold;
    float: left;
    padding-right: 20px;
    width: 40%; }
  .plms-accordion-metadata-item .value {
    float: left;
    width: 60%; }
  html.lt-ie8 .plms-accordion-metadata-item .key {
    padding: 0; }

.plms-accordion-body-content li {
  list-style: disc;
  list-style-position: inside; }

.progressbar {
  clear: both;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
  margin-top: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden; }

.progressbar-value {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  color: #fff; }
  .progressbar-value.per0 {
    background: 0; }
  .progressbar-value.per70 {
    width: 70%; }
  .progressbar-value.per35 {
    width: 35%; }

.training-type {
  font-size: 11px;
  font-size: 0.6875rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.training-cats {
  display: block;
  margin-top: 7px;
  clear: both;
  float: left; }
  .training-cats, .training-cats * {
    font-size: 11px;
    font-size: 0.6875rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1em; }

.plms-accordion-status-grp {
  float: left;
  margin-top: 5px; }

.plms-accordion-status {
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #717073;
  color: #fff;
  background: transparent;
  border: 1px solid #d65f2d;
  color: #d65f2d;
  text-transform: uppercase;
  display: block;
  float: left;
  font-size: 9px;
  font-size: 0.5625rem;
  letter-spacing: 1px;
  line-height: 1em;
  margin-right: 5px; }
  .plms-accordion-status.skin2 {
    background: #efefef;
    color: #eb5b5d; }

.plms-tooltip-parent {
  position: relative;
  z-index: 1;
  display: block; }

.plms-tooltip-parent.flt-left {
  float: left; }

.plms-tooltip-parent.flt-right {
  float: right; }

.plms-tooltip {
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: url("/plms/v21/_images/ffffff-095.png");
  background: rgba(255, 255, 255, 0.95);
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  margin-top: 1px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin-top 750ms ease;
  -moz-transition: margin-top 750ms ease;
  -ms-transition: margin-top 750ms ease;
  -o-transition: margin-top 750ms ease;
  transition: margin-top 750ms ease;
  padding: 20px;
  display: none;
  z-index: 999; }
  .plms-tooltip:after {
    clear: both;
    content: "";
    display: block; }
  .plms-tooltip h6 {
    margin-bottom: 10px; }
  .plms-tooltip ul {
    list-style: none; }
  .plms-tooltip ul * {
    font-size: 14px;
    font-size: 0.875rem; }
  .plms-tooltip li {
    clear: both;
    width: 100%;
    float: left; }
  .plms-tooltip .key, .plms-tooltip .value {
    float: left;
    width: 50%;
    text-transform: uppercase; }
  .plms-tooltip .key {
    font-weight: bold; }
  .plms-tooltip.flyin {
    display: block;
    margin-top: -900em; }
  .plms-tooltip.flyin.active {
    margin-top: 0; }
  .plms-tooltip.active {
    display: block; }
  .plms-tooltip.size-sml {
    width: 200px; }
  .plms-tooltip.size-med {
    width: 300px; }
  .plms-tooltip.size-lrg {
    width: 600px; }
  .plms-tooltip.size-xlg {
    width: 800px; }
  .plms-tooltip.autow {
    width: auto; }
  .plms-tooltip.padding-sml {
    padding: 10px; }
  .plms-tooltip.outside.left-btm {
    left: 0;
    top: 100%; }
  .plms-tooltip.outside.left-top {
    left: 0;
    bottom: 100%; }
  .plms-tooltip.outside.right-btm {
    right: 0;
    top: 100%; }
  .plms-tooltip.outside.right-top {
    right: 0;
    bottom: 100%; }
  .plms-tooltip.inside.left-btm {
    left: 0;
    bottom: 0; }
  .plms-tooltip.inside.left-top {
    left: 0;
    top: 0; }
  .plms-tooltip.inside.right-btm {
    right: 0;
    bottom: 0; }
  .plms-tooltip.inside.right-top {
    right: 0;
    top: 0; }
  .plms-tooltip.static {
    position: static; }
  .plms-tooltip.label-replacement {
    display: none; }
  .plms-tooltip.dshadow-heavy {
    -webkit-box-shadow: 0 0 150px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 150px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 150px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 150px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2); }
  .plms-tooltip.is-alert {
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 997; }
  .plms-tooltip.is-alert.size-sml {
    margin-left: -100px; }
  .plms-tooltip.is-alert.size-med {
    margin-left: -150px; }
  .plms-tooltip.is-alert.size-lrg {
    margin-left: -300px; }
  .plms-tooltip.is-alert.size-xlg {
    margin-left: -400px; }
  .plms-tooltip.can-dismiss .plms-tooltip-header {
    padding-right: 40px; }
  .plms-tooltip.can-dismiss .plms-tooltip-body.standalone {
    padding-right: 40px; }

.plms-tooltip .plms-tooltip-activity-icon {
  position: absolute;
  margin-top: -12px;
  top: 50%;
  left: 0; }

.plms-tooltip .plms-tooltip-dismiss-icon {
  text-indent: -999em;
  position: absolute;
  top: 0;
  right: 0; }
  .plms-tooltip .plms-tooltip-dismiss-icon:hover {
    opacity: 0.5; }

.plms-tooltip .has-icon {
  position: relative;
  padding-left: 44px; }

.plms-tooltip-header {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding-bottom: 10px; }
  .plms-tooltip-header :last-child {
    margin: 0; }

.plms-tooltip-body {
  position: relative; }

.plms-tooltip-body :last-child {
  margin-bottom: 0; }

.plms-tooltip.fontsize .btngrp {
  width: 100%; }

.plms-tooltip.fontsize .btn {
  margin: 0;
  width: 33.3333333%;
  text-align: center;
  border-right: 1px solid #fff; }
  .plms-tooltip.fontsize .btn:last-child {
    border-right: 0; }

.plms-tooltip-micro {
  padding: 10px; }
  .plms-tooltip-micro * {
    font-size: 12px;
    font-size: 0.75rem; }
  .plms-tooltip-micro .btn {
    font-size: 10px;
    font-size: 0.625rem;
    padding: 2px 5px; }

.plms-label {
  margin-top: 10px; }
  .plms-label.no-margin {
    margin: 0; }
  .plms-label.inline {
    display: inline; }
  html.placeholder .plms-label.is-hidden {
    opacity: 0;
    visibility: hidden;
    margin-top: 0; }
  html.placeholder .plms-label.no-height {
    height: 0;
    margin-bottom: 0; }

/*
.plms-radio {
	margin-right:5px;
}

.label-radio-group {
	.plms-label {
		margin-left:10px;
		&:first-child {margin:0;}
	}
}
*/
.plms-fieldset {
  clear: both;
  float: left;
  width: 100%; }
  .plms-fieldset:first-child .plms-label {
    margin-top: 0; }
  .plms-fieldset.is-hidden {
    display: none; }
  .plms-fieldset.label-radio {
    margin-top: 20px; }
    .plms-fieldset.label-radio h6:last-of-type {
      margin: 0 0 10px 0; }
    .plms-fieldset.label-radio, .plms-fieldset.label-radio * {
      line-height: 1.3em; }

.plms-modal {
  background: url("../_images/f5f4f4-090.png");
  background: rgba(250, 249, 249, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html.is-ie9 .plms-modal {
    box-sizing: content-box; }
  .plms-modal.active {
    display: block; }
  .plms-modal .plms-icon.solid-x {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  html.placeholder .plms-modal.login label {
    display: none; }
  .plms-modal.login input {
    background: #fafafa; }
  .plms-modal.login .contents-b {
    clear: both;
    margin: 20px 0 0 0;
    padding-top: 20px;
    border-top: 1px solid #e4e4e4;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    *float: none;
    width: 100%;
    display: none;
    display: block; }
    .plms-modal.login .contents-b.is-visible {
      display: block; }
  .plms-modal.login .contents-b .plms-fieldset {
    margin-bottom: 10px; }
  html.no-boxshadow .plms-modal.login input {
    border: 1px solid #ccc; }
  html.no-boxshadow .plms-modal.login input:first-child {
    margin-bottom: -1px; }

.plms-modal-box {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: -100em auto 5% auto;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin-top 100ms linear;
  -moz-transition: margin-top 100ms linear;
  -ms-transition: margin-top 100ms linear;
  -o-transition: margin-top 100ms linear;
  transition: margin-top 100ms linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plms-modal-box.flyin {
    margin-top: 40px; }
  .plms-modal-box.width2 {
    max-width: 750px; }

.plms-modal-body {
  background: #fff;
  padding: 30px; }
.plms-modal-body.standalone {
  padding: 30px 70px 30px 30px; }
.plms-modal-body :last-child {
  margin-bottom: 0; }
.plms-modal-body .course-title,
.plms-modal-body .course-status {
  float: left;
  width: 100%;
  padding: 10px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html.lt-ie8 .plms-modal-body .course-title, html.lt-ie8
  .plms-modal-body .course-status {
    display: inline-block;
    width: auto;
    float: none; }
.plms-modal-body .course-title {
  margin-top: -3px;
  background: #ed9410; }
  .plms-modal-body .course-title * {
    color: #fff;
    font-weight: bold; }
.plms-modal-body .course-status {
  background: #e5e5e5;
  background: rgba(0, 0, 0, 0.1); }
.plms-modal-body.course-prog {
  padding: 0; }
  .plms-modal-body.course-prog .column.span-4 h6 {
    padding-right: 30px; }
  .plms-modal-body.course-prog .metadata-value {
    display: block;
    margin: 0 0 10px 0; }
  .plms-modal-body.course-prog .metadata-value:last-child {
    margin: 0; }
  .plms-modal-body.course-prog .metadata {
    padding: 20px 30px 30px 30px; }
  .plms-modal-body.course-prog .metadata, .plms-modal-body.course-prog .child-metadata {
    clear: both; }
  .plms-modal-body.course-prog .metadata-group {
    clear: both;
    *clear: none;
    *display: inline-block;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #e4e4e4;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .plms-modal-body.course-prog .metadata-group:first-child {
      margin: 0;
      padding: 0;
      border: 0; }
    .plms-modal-body.course-prog .metadata-group:after {
      clear: both;
      content: "";
      display: block; }
  .plms-modal-body.course-prog .child-metadata-group {
    border-top: 1px dotted #e4e4e4;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    margin-top: 20px; }
html.lt-ie8 .plms-modal-body {
  display: inline-block; }

.plms-modal-header {
  background: #717073;
  padding: 30px 70px 30px 30px;
  border-bottom: 3px solid #ed9410; }
  .plms-modal-header h3, .plms-modal-header h6 {
    margin: 0; }
  .plms-modal-header * {
    color: #fff; }

.plms-modal-body:after {
  clear: both;
  content: "";
  display: block; }

.plms-input-wrapper {
  margin-bottom: 10px; }

.plms-input-wrapper:last-child {
  margin-bottom: 0; }

.plms-input {
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  background: #fff;
  margin: 0;
  border: 0;
  line-height: 1.25em;
  margin: 0; }
  .plms-input.skin2 {
    background: #faf9f9;
    border: 1px solid #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .plms-input:active, .plms-input:focus {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  html.lt-ie8 .plms-input {
    padding: 12px 0; }
  .plms-input.square {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  .plms-input.flat-r {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; }
  .plms-input.flat-l {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
  .plms-input.large {
    padding: 20px; }
  .plms-input.has-error {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(218, 62, 39, 0.75);
    border: 1px solid #fd0011;
    border: 1px solid rgba(253, 0, 17, 0.5);
    background: #fff2f3; }
  .plms-input.datepicker {
    padding-left: 46px;
    background-image: url("/plms/v21/_images/icon-calendar.svg");
    background-position: 12px 50%;
    background-repeat: no-repeat; }
  .plms-input[disabled], .plms-input.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); }
  .plms-input[disabled]:active, .plms-input[disabled]:focus, .plms-input.is-disabled:active, .plms-input.is-disabled:focus {
    background: #d8261f; }

.plms-input-group {
  margin-bottom: 20px; }

#ui-datepicker-div {
  z-index: 4 !important; }

.ui-datepicker * {
  font-size: 12px;
  text-transform: uppercase; }

textarea {
  height: 200px; }

.plms-textarea {
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  background: #fff;
  margin: 0;
  border: 0;
  resize: vertical;
  height: 200px;
  float: left; }
  .plms-textarea.skin2 {
    background: #faf9f9;
    border: 1px solid #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .plms-textarea:active, .plms-textarea:focus {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
  html.lt-ie8 .plms-textarea {
    padding: 12px 0; }
  .plms-textarea.has-error {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(218, 62, 39, 0.75);
    border: 1px solid #fd0011;
    border: 1px solid rgba(253, 0, 17, 0.5);
    background: #fff2f3; }
  .plms-textarea.height-small {
    height: 100px; }

label {
  text-align: left;
  display: block;
  margin: 0 0 5px 0;
  line-height: 1.3em;
  font-size: 11px;
  font-size: 0.6875rem; }
  label.inline {
    display: inline;
    margin-right: 10px; }
  label.medium {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5em; }

.plms-alert {
  margin-bottom: 20px;
  padding: 7px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plms-alert * {
    color: #fff; }
  .plms-alert :last-child {
    margin: 0; }
  .plms-alert .last-child {
    margin: 0; }
  .plms-alert.neutral {
    background: #e5e5e5; }
    .plms-alert.neutral * {
      color: #333; }
  .plms-alert.secondary-clr {
    background: #ed9410; }
    .plms-alert.secondary-clr * {
      color: #fff; }
  .plms-alert.invalid, .plms-alert.critical {
    background: #d93923; }
    .plms-alert.invalid *, .plms-alert.critical * {
      color: #fff; }
  .plms-alert.valid {
    background: #719d2d; }
    .plms-alert.valid * {
      color: #fff; }
  .plms-alert.invisible {
    display: none; }

.btngrp {
  float: left; }
  .btngrp.fwidth {
    width: 100%; }
  .btngrp.alignr, .btngrp.align-r {
    float: right; }
  .btngrp .btn {
    margin: 0 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .btngrp .btn.first, .btngrp .btn:first-child {
      -webkit-border-radius: 5px 0 0 5px;
      -moz-border-radius: 5px 0 0 5px;
      -ms-border-radius: 5px 0 0 5px;
      -o-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      margin: 0; }
    .btngrp .btn.last, .btngrp .btn:last-child {
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      -ms-border-radius: 0 5px 5px 0;
      -o-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0; }
    .btngrp .btn.round {
      -webkit-border-radius: 5px !important;
      -moz-border-radius: 5px !important;
      -ms-border-radius: 5px !important;
      -o-border-radius: 5px !important;
      border-radius: 5px !important; }

#pg-nav {
  width: 100%;
  clear: both;
  float: left;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  /* --- */ }
  #pg-nav .btn {
    font-size: 16px;
    font-size: 1rem;
    padding: 15px; }
    #pg-nav .btn.last {
      float: right; }

.btngrp-fluid {
  float: left;
  width: 100%; }
  .btngrp-fluid .btn {
    float: left;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /* --- */ }
    .btngrp-fluid .btn:before {
      display: block;
      content: "";
      width: 1px;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 0;
      left: -1px; }
    .btngrp-fluid .btn.first, .btngrp-fluid .btn:first-child {
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      -o-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px; }
    .btngrp-fluid .btn.first:before, .btngrp-fluid .btn:first-child:before {
      display: none; }
    .btngrp-fluid .btn.last, .btngrp-fluid .btn:last-child {
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }
    .btngrp-fluid .btn.per10 {
      width: 10%; }
    .btngrp-fluid .btn.per20 {
      width: 20%; }
    .btngrp-fluid .btn.per25 {
      width: 25%; }
    .btngrp-fluid .btn.per30 {
      width: 30%; }
    .btngrp-fluid .btn.per33 {
      width: 33.3333333%; }
    .btngrp-fluid .btn.per40 {
      width: 40%; }
    .btngrp-fluid .btn.per50 {
      width: 50%; }
    .btngrp-fluid .btn.per60 {
      width: 60%; }
    .btngrp-fluid .btn.per70 {
      width: 70%; }
    .btngrp-fluid .btn.per80 {
      width: 80%; }
    .btngrp-fluid .btn.per90 {
      width: 90%; }
  .btngrp-fluid.vertical .btn {
    width: 100%;
    margin: 0 0 1px 0; }
    .btngrp-fluid.vertical .btn:before {
      display: none; }
    .btngrp-fluid.vertical .btn.first, .btngrp-fluid.vertical .btn:first-child {
      -webkit-border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      -ms-border-radius: 3px 3px 0 0;
      -o-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0; }
    .btngrp-fluid.vertical .btn.last, .btngrp-fluid.vertical .btn:last-child {
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      -ms-border-radius: 0 0 3px 3px;
      -o-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px;
      margin: 0; }

.plms-select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-size: 1rem; }
  .plms-select.alt-pad {
    padding: 6px; }
  html.no-boxshadow .plms-select {
    border: 1px solid #e4e4e4; }
  .plms-select.skin2 {
    background: #faf9f9;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .plms-select.is-placeholder {
    color: #8c8c8c; }
  .plms-select[disabled], .plms-select.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50); }
  .plms-select[disabled]:active, .plms-select[disabled]:focus, .plms-select.is-disabled:active, .plms-select.is-disabled:focus {
    background: #d8261f; }

.ui-select .ui-btn {
  background: #fff; }

.ui-btn-text {
  font-weight: normal;
  line-height: 1.3em; }

.plms-horlist {
  margin-bottom: 20px; }
  .plms-horlist .plms-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -12px;
    opacity: 0.15; }
  .plms-horlist ul {
    margin: 0;
    list-style: none;
    clear: both; }
  .plms-horlist li {
    margin-bottom: -1px;
    border: 1px solid #e4e4e4;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    padding: 10px;
    padding-left: 44px;
    cursor: pointer;
    line-height: 1.5em;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear; }
    .plms-horlist li:nth-child(even) {
      background: #efefef; }
    .plms-horlist li:hover {
      opacity: 0.8; }
    .plms-horlist li.is-selected {
      background: #ed9410;
      color: #fff; }
    .plms-horlist li.is-selected .plms-icon {
      opacity: 1; }

.input-btn-combo {
  width: 100%; }
  .input-btn-combo input {
    width: 88%;
    float: left;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: box-shadow 100ms, border 100ms;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .input-btn-combo input:active, .input-btn-combo input:focus {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.15); }
  .input-btn-combo a {
    padding: 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 10%;
    float: right;
    text-align: center;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #d65f2d;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease; }
    .input-btn-combo a:hover {
      background: #de8058; }

.columns-filter {
  margin-bottom: 15px;
  width: 100%;
  float: left; }

.columns-filter-item {
  float: left;
  background: #d65f2d;
  padding: 5px 10px;
  margin: 0 5px 5px 0; }

.columns-filter-item label {
  line-height: 1em;
  margin: 0;
  display: inline; }

.columns-filter-item input {
  display: inline-block; }

.colsettings-th {
  border-left: 1px solid #333;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -ms-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
  position: relative;
  background: green; }

.colsettings-th:hover {
  background: #4d4d4d; }

.colsettings-icon {
  padding: 10px;
  background-image: url("/plms/v21/_images/1410458093_f013.svg"), none;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: block; }

.tooltip-sample {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: url("/plms/v21/_images/ffffff-095.png");
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  display: none;
  right: 100%;
  width: 300px;
  background: #fff;
  padding: 20px; }
  .tooltip-sample.active {
    display: block; }

.tooltip-sample header {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

.tooltip-sample label {
  display: inline; }

.tooltip-sample-item {
  clear: both;
  float: left;
  width: 100%; }

.tooltip-sample .is-disabled {
  cursor: not-allowed; }

.tooltip-sample .is-disabled label {
  opacity: 0.25;
  cursor: not-allowed; }

.tooltip-beta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: url("/plms/v21/_images/ffffff-095.png");
  background: rgba(255, 255, 255, 0.95); }
  .tooltip-beta p, .tooltip-beta h6 {
    color: #333; }

.formels-feedback {
  float: left;
  line-height: 1.3em;
  font-size: 11px;
  font-size: 0.6875rem;
  clear: both;
  margin: 5px 0 0 !important;
  width: 100%;
  text-align: left; }
  .formels-feedback.valid {
    color: #719d2d; }
  .formels-feedback.invalid {
    color: #d8261f; }
  .formels-feedback.med {
    font-size: 16px;
    font-size: 1rem; }
  #bc-modal.inverse .formels-feedback.valid {
    color: #719d2d; }
  #bc-modal.inverse .formels-feedback.invalid {
    color: #d8261f; }

.search-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 100%; }
  .search-box.is-fixed {
    position: fixed;
    z-index: 800;
    width: 384px;
    left: 144px;
    top: 20px; }
  .search-box.is-static {
    position: static; }
  .search-box .plms-input-group {
    margin-bottom: 20px;
    float: left;
    width: 100%; }
  .search-box .plms-fieldset {
    margin: -1px 0 0; }
  .search-box .plms-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.search-box-header {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px 20px 15px 20px; }
  .search-box-header :last-child {
    margin: 0; }
  .search-box-header .last-child {
    margin: 0; }
  .search-box-header .h6 {
    margin-bottom: 10px; }
  .search-box-header p {
    font-size: 14px;
    font-size: 0.875rem; }

.search-box-body {
  padding: 20px; }

.plms-table {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
  border: 1px solid #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.plms-table table {
  min-width: 600px; }

.plms-table tr {
  -webkit-transition: box-shadow 50ms ease;
  -moz-transition: box-shadow 50ms ease;
  -ms-transition: box-shadow 50ms ease;
  -o-transition: box-shadow 50ms ease;
  transition: box-shadow 50ms ease; }

.plms-table .span-auto {
  width: 0.1%; }

.plms-table .span-1 {
  width: 6.25%; }

.plms-table .span-2 {
  width: 12.5%; }

.plms-table .span-3 {
  width: 18.75%; }

.plms-table .span-4 {
  width: 25%; }

.plms-table .span-5 {
  width: 31.25%; }

.plms-table .span-6 {
  width: 37.5%; }

.plms-table .span-7 {
  width: 43.75%; }

.plms-table .span-8 {
  width: 50%; }

.plms-table .span-9 {
  width: 56.25%; }

.plms-table .span-10 {
  width: 62.5%; }

.plms-table .span-11 {
  width: 68.75%; }

.plms-table .span-12 {
  width: 75%; }

.plms-table .span-13 {
  width: 81.25%; }

.plms-table .span-14 {
  width: 87.5%; }

.plms-table .span-15 {
  width: 93.75%; }

.plms-table .span-16 {
  width: 100%; }

.plms-table .plms-icon {
  opacity: 0.15; }

.plms-table .plms-icon.is-selected {
  opacity: 1; }

.plms-table.selectable-list tbody tr {
  cursor: pointer; }

.plms-table.selectable-list tbody tr:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

.ws-per-10 {
  width: 10%; }

.ws-per-20 {
  width: 20%; }

.ws-per-30 {
  width: 30%; }

.ws-per-40 {
  width: 40%; }

.ws-per-50 {
  width: 50%; }

.ws-per-60 {
  width: 60%; }

.ws-per-70 {
  width: 70%; }

.ws-per-80 {
  width: 80%; }

.ws-per-90 {
  width: 90%; }

.ws-per-100 {
  width: 100%; }

.boxed-content {
  margin-bottom: 20px; }
  .boxed-content p:last-child, .boxed-content ul:last-child, .boxed-content .plms-alert:last-child, .boxed-content .boxed-content:last-child, .boxed-content .plms-table:last-child {
    margin-bottom: 0; }

.plms-fieldset {
  position: relative; }

.plms-fieldset-wrapper {
  clear: both;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px; }
  .plms-fieldset-wrapper:last-child {
    margin-bottom: 0; }

.label-checkbox-group,
.plms-fieldset-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .label-checkbox-group.has-error,
  .plms-fieldset-wrapper.has-error {
    padding: 10px; }

.pagination-nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
  clear: both;
  margin-top: 30px;
  padding-top: 30px; }

#main-content {
  background-image: url("../_images/sample-work-place-safety.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #main-content .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(113, 112, 115, 0.85);
    top: 0;
    left: 0; }

.req-icon {
  color: #da2720 !important;
  cursor: help;
  font-family: Lucida, Georgia;
  font-size: 24px;
  position: absolute;
  font-weight: bold;
  line-height: 1em;
  display: block;
  left: -17px;
  top: 0; }

.flyout-message-wrapper {
  position: relative;
  float: left; }
  .flyout-message-wrapper p {
    margin-top: 9px;
    background: #fff;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 12px;
    font-size: 0.75rem;
    width: 160px;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0; }
    .flyout-message-wrapper p.is-active {
      opacity: 1; }
  .flyout-message-wrapper .tooltip-arrow-icon {
    background: url("/plms/v21/_images/chevron-up-w-shadow.png");
    display: block;
    height: 10px;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 20px; }

.aside-toggle-handle {
  background: #d7d7d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative; }
  .aside-toggle-handle:after {
    clear: both;
    content: "";
    display: block; }
  .aside-toggle-handle span {
    color: #fff; }
  .aside-toggle-handle .icon {
    position: absolute;
    top: 50%;
    left: -23px;
    cursor: pointer;
    background: url("/plms/v21/_images/aside-icon-toggle-handle.png");
    background-position: top right;
    margin: -16px 0 0 0;
    display: block;
    width: 12px;
    height: 32px; }

.mandatory-fields-message {
  position: relative;
  padding-left: 20px; }
  .mandatory-fields-message .req-icon {
    left: 0; }

.layout-sidebar-right {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .layout-sidebar-right .boxed-content {
    -webkit-transition: width 250ms ease;
    -moz-transition: width 250ms ease;
    -ms-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    width: 65%;
    border-right: 0;
    min-height: 800px;
    float: left;
    margin-bottom: 0; }
  .layout-sidebar-right #main-aside {
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -ms-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
    width: 35%;
    height: 100%;
    float: left;
    background: #404040;
    position: absolute;
    left: 65%; }
  .layout-sidebar-right.slim .boxed-content {
    width: 80%; }
  .layout-sidebar-right.slim #main-aside {
    left: 80%; }
  .layout-sidebar-right.slim .aside-toggle-handle i {
    background-position: top left; }
  .layout-sidebar-right .aside-main-nav ul {
    list-style: none;
    margin: 0; }
  .layout-sidebar-right .aside-main-nav li {
    margin: 0; }
  .layout-sidebar-right .aside-main-nav a {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    line-height: 1.25em;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -ms-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
    background: #d7d7d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .layout-sidebar-right .aside-main-nav a:hover {
      background: #e4e4e4;
      text-decoration: none; }
  .layout-sidebar-right .aside-main-nav .is-active a {
    text-decoration: none;
    background: #ed9410;
    color: #fff; }

.scheduled-shifts caption {
  display: none; }
.scheduled-shifts label {
  display: none; }
html.no-placeholder .scheduled-shifts label {
  display: block; }
.scheduled-shifts th {
  width: 30%;
  text-align: right;
  padding: 10px 20px; }

.margin-reset {
  margin: 0; }

.fieldset-group {
  clear: both; }

.bold {
  font-weight: bold; }

.pull-up {
  margin-top: -20px; }

.pull-up-10 {
  margin-top: -10px; }

.push-up {
  margin-top: 20px; }

.push-up-10 {
  margin-top: 10px; }

.push-down {
  margin-bottom: 20px; }

.push-down-10 {
  margin-bottom: 10px; }

.boxed-content-body:after {
  clear: both;
  content: "";
  display: block; }

.plms-table table {
  min-width: auto; }

.small-text {
  font-size: 12px; }

.label-checkbox-group:after {
  clear: both;
  content: "";
  display: block; }
.label-checkbox-group input[type="checkbox"] {
  margin: 0 10px 0 0; }
.label-checkbox-group label {
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.075);
  margin: 0 10px 10px 0;
  float: left; }
  .label-checkbox-group label:active, .label-checkbox-group label:focus {
    background: #ed9410;
    color: #fff; }

.column p {
  line-height: 1.5em; }

.pg-completed-ais .pagination-nav {
  margin: 0;
  border: 0; }

.pg-dashboard h1 {
  color: #fff; }

.pg-affected-employee .plms-fieldset.first-child {
  margin-top: -10px; }
.pg-affected-employee .form-fields {
  padding-right: 40px; }
.pg-affected-employee .search-button {
  clear: both;
  margin-top: 20px;
  float: left;
  width: 100%; }

.pg-location .input-button-group {
  margin-top: -20px; }
.pg-location .label-radio-group input[type="radio"] {
  margin-right: 10px; }
.pg-location .label-radio-group label {
  font-size: 1rem;
  float: left;
  margin-right: 10px; }
.pg-location .location-type {
  float: left;
  width: 100%;
  margin-top: 20px; }
  .pg-location .location-type p {
    font-weight: bold; }

@media screen and (max-width: 700px) {
  .layout-sidebar-right.slim .boxed-content {
    width: 75%; }
  .layout-sidebar-right.slim #main-aside {
    left: 75%; }

  .scheduled-shifts * {
    font-size: 12px; }

  #main-aside nav a {
    font-size: 12px;
    padding: 15px;
    line-height: 1.5em; }

  .plms-table.completed-ais th, .plms-table.completed-ais td {
    font-size: 12px; } }
@media screen and (max-width: 600px) {
  #main-aside {
    display: none; }

  .layout-sidebar-right .boxed-content {
    width: 100% !important; } }
