﻿/*  Justifly  text  */
.justifyp 
{
   text-align:justify;
}

.btngrayout
{     
    /* Change Color based  on selection of yes or no*/     
  display: block;
  float: left;
  text-transform: uppercase;
  text-shadow: none !important;
  letter-spacing: 1px;
  font-size: 11px;
  font-size: 0.6875rem;
  background: #fff; 
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  font-weight:bold; 
  border: 1px solid #b9b9b9;
  color: #e0e0e0;
  cursor: not-allowed;
} 
.btngrayout.large {
    font-size: 16px;
    font-size: 1rem; } 
  .btngrayout.align-r {
    float: right; }
    
  /* Change Color based  on selection of yes or no*/   
  .btnChageColor {
  display: block;
  float: left;
  text-transform: uppercase;
  text-shadow: none !important;
  letter-spacing: 1px;
  font-size: 11px;
  font-size: 0.6875rem;
  background: #719d2d;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  /* --- */ }



/*  Class for */
.divShow
 {
    display:block;
 }

.divHide
{
    display:none;
} 

 