#pg-sandbox {
  padding: 10px;
  background: #f5f4f4; }

#pg-sandbox #main-content {
  margin-bottom: 100px; }

.accordion {
  margin-bottom: 1px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .accordion.is-open {
    background: rgba(255, 255, 255, 0.75); }
  .accordion:nth-child(1), .accordion:nth-child(2), .accordion:nth-child(3), .accordion:nth-child(4), .accordion:nth-child(5), .accordion:nth-child(6), .accordion:nth-child(7) {
    display: none; }

.accordion.special2 .accordion-body {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion.special .accordion-title {
  margin-top: -5px; }

.accordion.special .accordion-body {
  background: rgba(0, 0, 0, 0.1); }

.accordion.special .accordion-nav {
  padding-top: 20px; }

.accordion-title {
  float: left;
  margin-top: -5px !important; }

.accordion-excerpt {
  clear: both;
  display: block;
  line-height: 1.5em;
  margin-top: 5px;
  float: left;
  width: 100%;
  color: #aaa; }

.accordion.is-open .accordion-excerpt {
  color: #666; }

.accordion header {
  margin: 0; }

.accordion-header {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px;
  padding-right: 64px; }

.accordion-metadata.in-body {
  padding: 20px;
  margin-bottom: 20px; }

.accordion-body {
  clear: both;
  display: none; }

.accordion-body-content {
  padding: 0 20px 20px 20px;
  clear: both; }

.completed, .completed:hover {
  background: #efefef;
  color: #729d1e;
  cursor: auto; }

.accordion-nav {
  float: left;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .accordion-nav li {
    float: left;
    margin-right: 1px; }
  .accordion-nav a {
    padding: 15px;
    background: #717073;
    color: #fff;
    display: block;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    border: 1px solid transparent; }
    .accordion-nav a:hover {
      background: #d65f2d;
      color: #fff; }
  .accordion-nav .cur a {
    background: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    cursor: auto;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    /*
    &:after {
    	display:block;
    	content:"";
    	width:100%;
    	height:1px;
    	background:#fff;
    	position:absolute;
    	bottom:-1px;
    	left:0;
    }
    */ }

.openclose-icon {
  width: 24px;
  height: 24px;
  text-indent: -999em;
  display: block;
  background: #717073;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  right: 20px; }
  .openclose-icon i {
    background-image: url("../_images/sandbox/icon-plus.svg");
    position: absolute;
    display: block;
    width: 8px;
    top: 50%;
    left: 50%;
    margin-left: -4px; }
  .openclose-icon.minus {
    background: rgba(0, 0, 0, 0.25); }
  .openclose-icon:hover {
    background-color: #444; }
  .openclose-icon.minus i {
    background-position: -11px -3px;
    height: 2px;
    margin-top: -1px; }
  .openclose-icon.plus i {
    background-position: 0 0;
    height: 8px;
    margin-top: -4px; }

.accordion .span-8 {
  padding-right: 40px; }

.accordion-metadata {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .accordion-metadata.in-header {
    padding-top: 10px; }
  .accordion-metadata.in-body {
    background: #444; }
    .accordion-metadata.in-body * {
      color: #fff; }

.accordion-metadata-item {
  margin-bottom: 5px;
  float: left;
  width: 100%; }

.accordion-metadata-item:last-child {
  margin: 0; }

.accordion-metadata-item span {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.accordion-metadata-item .key {
  font-weight: bold;
  float: left;
  padding-right: 20px;
  width: 40%; }

.accordion-metadata-item .value {
  float: left;
  width: 60%; }

.accordion-body-content li {
  list-style: disc;
  list-style-position: inside; }

.progressbar {
  clear: both;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: relative;
  margin-top: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden; }

.progressbar-value {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  color: #fff; }
  .progressbar-value.per0 {
    background: 0; }
  .progressbar-value.per70 {
    width: 70%; }
  .progressbar-value.per35 {
    width: 35%; }

.training-type {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  line-height: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.training-cats {
  display: block;
  margin-top: 7px;
  clear: both;
  float: left; }
  .training-cats, .training-cats * {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1em; }

.accordion-status {
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #717073;
  color: #fff;
  background: transparent;
  border: 1px solid #d65f2d;
  color: #d65f2d;
  text-transform: uppercase;
  display: block;
  float: left;
  clear: both;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1em;
  margin-top: 10px; }
  .accordion-status.skin2 {
    background: #efefef;
    color: #eb5b5d; }
