body, td {
  font-size: 10pt;
  font-family: Tahoma, Sans-Serif; }

.menulink {
  font-size: 12px;
  font-family: Lucida Grande, Lucida, Verdana, sans-serif; }

.enabledMenulink {
  font-size: 12px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  text-decoration: underline;
  color: #BBBBBB; }

.disabledMenulink {
  font-size: 12px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  text-decoration: none;
  color: #BBBBBB; }

.activeMenulink, .activeMenulinkDisabled {
  font-size: 12px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  text-decoration: underline;
  color: #BBBBBB;
  font-weight: bold; }

.activeMenulinkDisabled {
  text-decoration: none; }

.title {
  font-size: 14px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  color: #BBBBBB;
  font-weight: bold; }

#top_title {
  font-size: 14px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  color: #BBBBBB;
  font-weight: bold;
  position: absolute;
  top: 19px;
  left: 20px; }

#top_credit a {
  font-size: 14px;
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  color: #284565;
  font-weight: 100;
  position: absolute;
  top: 19px;
  right: 50px;
  text-decoration: none;
  cursor: pointer; }

#top_credit a:hover {
  text-decoration: none; }

.enabledMenuItem {
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  color: #BBBBBB;
  cursor: pointer;
  cursor: hand; }

.disabledMenuItem {
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  font-size: 12px;
  font-variant: small-caps;
  color: Black; }

.enabledTopMenuItem {
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  font-size: 10px;
  font-variant: small-caps;
  color: #C68D04;
  font-weight: bold;
  text-decoration: none;
  cursor: hand;
  cursor: pointer; }

a.enabledTopMenuItem:hover {
  color: #BBBBBB;
  text-decoration: none; }

.disabledTopMenuItem {
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  font-size: 10px;
  font-variant: small-caps;
  color: #000000; }

.playerBody {
  background-color: #DFE5EA; }

#top_body, #tt_top {
  background: transparent url(images/top_BG.jpg) repeat-x scroll left top; }

#top_navMenu, #tt_top_navMenu {
  position: absolute;
  bottom: 0px;
  width: 98%; }

#left_body, #tt_left {
  background: #0a1936 url(images/left_BG.jpg) no-repeat scroll left top; }

.ProgressBar {
  height: 100%;
  text-align: right; }

.progressText {
  font-family: Lucida Grande,Lucida,Verdana,sans-serif;
  font-size: 10px;
  font-variant: small-caps;
  color: #C68D04;
  font-weight: bold;
  border: 0px solid #CCCCCC;
  border-left: 0;
  border-right: 0; }

.progressXImage {
  border-top: #666666 1px solid;
  border-left: #666666 1px solid;
  border-bottom: #666666 1px solid; }

.progressYImage {
  border-top: #666666 1px solid;
  border-right: #666666 1px solid;
  border-bottom: #666666 1px solid; }

#exit_dialog_body {
  margin: 0px;
  background-color: #E0EAF1;
  padding-top: 5px; }

#exit_dialog_div {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 100%; }

.exit_dialog_btn {
  background-color: #0A1936;
  font-size: 12px;
  width: 100px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 35px; }

#exit_dialog_suspend {
  left: 30%; }

#exit_dialog_exit {
  left: 60%; }

#exit_dialog_cancel {
  position: absolute;
  top: 35px;
  right: 25px;
  color: #C68D04;
  font-size: 90%;
  cursor: hand;
  cursor: pointer;
  font-weight: bold; }

.player_border {
  background-color: #DFE5EA; }

#PleaseClick a,
#PleaseClick a:visited {
  color: #39648F;
  text-decoration: none; }

#PleaseClick a:hover {
  color: #754737;
  text-decoration: none; }

#PleaseClick {
  margin-top: 10px; }

/* MJ Begin > */
.playerBody, .player_border {
  background-color: #f8ad48; }

/* body, #tt_top_navMenu td {background:#d9d9d9;} */
table, td {
  border-collapse: collapse; }

#top_title {
  top: 7px;
  left: 7px;
  padding-left: 135px;
  background-image: url("../_images/tbs-logo-small.png");
  background-image: url("../_images/tbs-logo-small-x2.png"), none;
  background-size: 115px 20px;
  background-position: left top;
  background-repeat: no-repeat;
  vertical-align: bottom;
  color: #fff;
  font-size: 19px;
  white-space: nowrap; }

#top_credit {
  display: none; }

#left_body, #tt_left {
  background: #7f7f81; }

.progress {
  display: none;
  width: 0; }

.progressText {
  color: #fff;
  font-weight: normal;
  font-variant: none;
  padding: 6px 0 !important;
  text-transform: uppercase; }

.disabledMenulink {
  cursor: not-allowed; }

.enabledMenulink {
  color: #555;
  color: #fff; }

.activeMenulink {
  text-decoration: none;
  color: #fff; }

#tt_top #Form1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #7f7f81; }

#courseTitleText {
  color: #fff; }

.enabledTopMenuItem {
  float: left;
  padding: 6px 0;
  color: #000;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #818181;
  background: #efefef; }

#returnToLms, #next, #previous {
  position: absolute;
  bottom: 7px; }

#menuToggle {
  width: 90px;
  margin-left: 5px; }

#next {
  width: 70px;
  right: 144px;
  *right: 177px; }

#previous {
  width: 70px;
  right: 221px;
  *right: 255px; }

#returnToLms {
  width: 130px;
  right: 7px;
  text-align: left;
  padding-left: 32px;
  /* left button padding + icon width + buffer */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("http://simplebranch.ca/pensivo/pib-rustici-ui/_images/icon-x.png");
  background-image: url("http://simplebranch.ca/pensivo/pib-rustici-ui/_images/icon-x-x2.png"), none;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10px center; }

#tt_top_navMenu {
  background: #7f7f81;
  height: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #666; }

#tt_top_navMenu td {
  vertical-align: bottom;
  padding-bottom: 5px; }

#top_navMenu, #tt_top_navMenu {
  width: 100%; }
