/////////////////////////////////////////////////////////////////////////

button::-moz-focus-inner {border:0;padding:0;} // Removes invisible button padding in FF

html {
	&.font-size-s {font-size:90%;}
	&.font-size-m {font-size:100%;}
	&.font-size-l {font-size:110%;}
}

* {
	margin:0;
	padding:0;
	color:#333;
	font-family:$font_family;
	line-height:1.75em;
}

code {
	clear:both;
	background:#002b36;
	padding:5px;
	color:#fff;
	font-family:Courier;
}

.has-error {@include hasError;}
abbr {cursor:help;border-bottom:0;}
#top {position:absolute;top:0;left:0;visibility:hidden;height:0;width:0;}
.wrapper {position:relative;}
.wrapper:after {@include clearfix;}
dt {font-weight:bold;}
b {font-weight:normal;}
a {outline:0;}
a:active {background-color:transparent;} // !! required for ie10.
img {display:block;max-width:100%;height:auto;}
p > a {color:$anchor_clr;}
.left {float:left;}
.hero {font-size:21px;font-size:1.3125rem;color:#555;}
p > a:hover {color:grayscale($anchor_clr);text-decoration:none;}
.clr1 {color:$primary_clr;}
.clr2 {color:$secondary_clr;}
.clearfix {@include clearfix;}

// !! move to modules.
.highlighter {
	padding:0 2px;
	@include border-radius(1px);
	// --- //
	&.primary {background:lighten($primary_clr, 45%);color:$primary_clr;}
	&.secondary {background:lighten($secondary_clr, 45%);color:$secondary_clr;}
} // .highlighter

p, h1, h2, h3, h4, h5, h6, ul, ol, .basemargin, code {margin-bottom:20px;}
h1, h2, h3, h4, h5 {line-height:1.25em;}

h1, .h1 {font-size:48px;font-size:3rem;}
h2, .h2 {font-size:36px;font-size:2.25rem;}
h3, .h3 {font-size:32px;font-size:2rem;}
h4, .h4 {font-size:24px;font-size:1.5rem;}
h5, .h5 {font-size:21px;font-size:1.3125rem;}

h6, .h6 {
	font-size:16px;
	font-size:1rem;
}

ul {list-style:disc;}
ol {list-style:decimal;}
ul ul, ol ul {list-style-type:circle;margin-left:15px;margin-top:7px;}
ol ul {margin-left:20px;}

.plms-table {
	table {width:100%;}
	
	th {
		text-align:left;
		background:$darkest_grey;
		color:#fff;
		font-weight:normal;
		text-transform:uppercase;
	}
	
	th, td {padding:10px;vertical-align:middle;line-height:1.25em;}
	tr {border-bottom:1px solid #e4e4e4;border-bottom:1px solid rgba(0,0,0,0.1);}
	tr:last-child {border:0;}
	tr:nth-child(odd) td {background:#efefef;}
	tr.is-selected td {background:$secondary_clr!important;color:#fff;}
}

ol ol {list-style-type:lower-latin;margin-left:20px;margin-top:7px;}
li {margin-bottom:7px;}
li:last-child {margin-bottom:0;}
ul, ol {list-style-position:inside;}
.specs {display:none;}

::-webkit-input-placeholder {color:#939393;}
:-moz-placeholder {color:#939393;opacity:1;} /* Firefox 18- */
::-moz-placeholder {color:#939393;opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#939393;}

@media screen and (max-width:600px) {
	h1, .h1 {font-size:36px;font-size:2.25rem;}
	h2, .h2 {font-size:32px;font-size:2rem;}
	h3, .h3 {font-size:24px;font-size:1.5rem;}
	h4, .h4 {font-size:21px;font-size:1.3125rem;}
	h5, .h5 {font-size:16px;font-size:1rem;}
}

@media screen and (max-width:500px) {
	h1, .h1 {font-size:32px;font-size:2rem;}
	h2, .h2 {font-size:24px;font-size:1.5rem;}
	h3, .h3 {font-size:21px;font-size:1.3125rem;}
	h4, .h4 {font-size:16px;font-size:1rem;}
}

@media screen and (max-width:400px) {
	.hero {font-size:18px;font-size:1.125rem;}
	h1, .h1 {font-size:24px;font-size:1.5rem;}
	h2, .h2 {font-size:21px;font-size:1.3125rem;}
	h3, .h3 {font-size:16px;font-size:1rem;}
}

/////////////////////////////////////////////////////////////////////////