/////////////////////////////////////////////////////////////////////////

// page or module specifics;
// each module (content piece / block)
// should have a unique id for special (not global) styling cases
// !! use with caution:
// only declare things here if beneficial to scope specificity.

#img-7580114 {margin:10px 30px 0 0;max-width:260px;}
.pg-user-new .btn-create-user {margin-top:20px;}
#contact-support {position:absolute;top:0;right:0;}

// .pg-user-new .plms-fieldset:first-of-type {margin-top:-10px;}
// .pg-user-new .plms-fieldset.is-first {margin-top:-10px;}

.pg-advanced-list .fixed-onscroll {position:relative;min-height:1px;}

@media screen and (max-width:740px) {
	.pg-advanced-list .column {width:100%;padding:0;}
	.pg-advanced-list aside {margin-bottom:20px;}
}

@keyframes tooltipShaker {
	25% {margin-left:-110px;}
	75% {margin-left:-118px;}
}

@-webkit-keyframes tooltipShaker {
	25% {margin-left:-110px;}
	75% {margin-left:-118px;}
}

.search-box .plms-tooltip {
	top:25%;
	left:50%;
	width:230px;
	margin-left:-115px;
	max-width:100%;
	&.shaker {
		animation:tooltipShaker 350ms ease 2;
		-webkit-animation:tooltipShaker 350ms ease 2;
		-moz-animation:tooltipShaker 350ms ease 2;
	}
}

@media screen and (max-width:500px) {

	.settings .plms-tooltip {
		right:auto!important;
		left:0!important;
	}

}

/////////////////////////////////////////////////////////////////////////




