/////////////////////////////////////////////////////////////////////////

.wrapper {
	width:100%;
	max-width:1152px;
	margin:0 auto;
	@include borderbox;
	&.width-sml {max-width:500px;}
	&.width-med {max-width:700px;}
}

.lockdown {overflow:hidden;}
html, body, #frm {height:100%;}
#main-footer, .layout-push {height:$main_footer_height;}
#main-header {position:relative;z-index:5;}

#global-wrapper {
	min-height:100%;
	margin-bottom:-$main_footer_height;
	&:after {@include clearfix;}
}

/////////////////////////////////////////////////////////////////////////

.topbar {
	
	width:100%;
	// float:left;
	padding:10px 20px;
	@include borderbox;
	
	// --- //
	
	&.primary {
		padding:20px;
		background:$primary_topbar_bg_clr;
		position:relative;
		@include primary_topbar_bdr;
	}
	
	&.secondary {
		z-index:5;
		position:relative;
		background:$secondary_topbar_bg_clr;
		@include secondary_topbar_bdr;
		.btn {
			background:$secondary_topbar_btn_bg_clr;
			color:$secondary_topbar_btn_text_clr;
			&:hover {
				background:$secondary_topbar_btn_hvr_bg_clr;
				color:$secondary_topbar_btn_hvr_text_clr;
			}
		}
	}
	
	&.tertiary {
		display:block;
		background:$tertiary_topbar_bg_clr;
		@include tertiary_topbar_bdr;
		.contents-b {float:right;}
	}
	
	// IE 7
	html.lt-ie8 & {
		width:auto;
	}
	// < IE 7 (end)
	
} // .topbar

.l-valign-wrap {display:table;height:100%;float:left;}
.l-valign {vertical-align:middle;display:table-cell;}

/////////////////////////////////////////////////////////////////////////

.main-logo {
	
	position:absolute;
	top:50%;
	margin-top:-18px;
	left:0;
	height:36px;
	img {width:100%;}
	
	@media screen and (max-width:600px) {
		width:30%;
		height:auto;
	}
	
	@media screen and (max-width:550px) {
		position:static;
		margin:0 auto 15px auto;
	}
	
} // .main-logo

/////////////////////////////////////////////////////////////////////////

// !! will not apply for less capable browsers, e.g. IE 7, IE 8 (see plms.topbars-1.0.js).

.sticky-wrapper {
	
	& {float:left;width:100%;}
	
	&.fixed {
		@include box-shadow(0 0 30px rgba(0,0,0,0.1));
		position:fixed;
		z-index:900;
		top:0;
	}
	
} // .sticky-wrapper

/////////////////////////////////////////////////////////////////////////

.globalnav-sub {
	
	& {float:right;}
	ul {list-style:none;margin:0;}
	
	li {
		display:inline-block;
		vertical-align:middle;
		margin:0 20px 0 0;
		&:last-child {margin:0;} // !! don't combine; ie8 won't recognize when combined (weird, I know).
		&.last-child {margin:0;}
		html.no-cssremunit &.li-fontsize {display:none;} // !! hide font size change module from browsers without REM unit support (most noticeable, IE 8).
	}
	
	.alt-margin {margin-right:10px;} // alternate margin.
	.plms-tooltip {margin-top:5px;}
	
	.settings {
		display:inline-block;
		vertical-align:middle;
		border-right:1px solid #b6b6b6;
		border-right:1px solid rgba(255,255,255,0.25);
		padding-right:20px;
		margin-right:20px;
		font-size:0;
	}
	
	a {
		display:block;
		font-size:12px;
		font-size:0.75rem;
		text-decoration:none;
		color:#d7d7d7;
		// !! former color declaration not recognized in IE 7 when rgba value is declared
		// color:rgba(255,255,255,0.75);
	}
	
	.lang {}
	.lang a {text-decoration:none;position:relative;padding-right:12px + 5px;}
	.lang .plms-icon {position:absolute;right:0;top:50%;margin-top:-6px;}
	.lang:hover .plms-icon {background-position:-22px -26px;}
	
	.plms-icon.fontsize {cursor:pointer;}
	.fontsize {font-size:16px;font-size:1rem;}
	
	a:hover {color:#fff;}
	> .btn {padding:7px 10px;color:#fff;float:none;font-size:11px;font-size:0.6875rem;}
	> .btn:hover {opacity:1;}
	.search {height:24px;width:24px;background:rgba(255,255,255,0.25);@include border-radius(50%);}
	.search a {text-indent:-999em;}
	
	@media screen and (max-width:550px) {
		float:none;
		display:table;
		margin:0 auto;
	}
	
	@media screen and (max-width:400px) {
		li {margin-right:15px;}
		a {font-size:11px;font-size:0.6875rem;}
		.settings {padding-right:15px;margin-right:15px;}
		.btn {margin-left:0;font-size:9px;font-size:0.5625rem;}
	}
	
	// IE 7 >
	html.lt-ie8 & {
		display:inline;
		zoom:1;
		li {display:inline;zoom:1;}
		.settings {display:inline;zoom:1;}
	}
	// < IE 7 (end)
	
} // .globalnav-sub

/////////////////////////////////////////////////////////////////////////

.globalnav-main {
	
	& {float:right;}
	ul {list-style:none;font-size:0;margin:0;float:left;}
	li {margin:0 0 0 20px;float:left;}
	li:first-child {margin:0;}
	
	$menuclr: #bfbfbf;
	$menuclr_hvr: #7f7f7f;
	
	.menu-handle {
		cursor:pointer;
		position:relative;
		display:none;
		float:left;
		margin-left:20px;
		padding-left:24px + 10px; // icon width + buffer.
		&.active .menu-handle-icon, &:hover .menu-handle-icon {border-color:$menuclr_hvr;}
		&.active .bar, &:hover .bar {background:$menuclr_hvr;}
		&.active a, &:hover a {color:#aaa;}
	}
	
	.menu-handle-icon {
		display:block;
		width:24px;
		height:16px;
		border-top:4px solid $menuclr;
		@include transition(border-color, 250ms, ease);
		position:absolute;
		left:0;
		top:50%;
		margin-top:-9px;
	}
	
	.bar {
		@include transition(background, 250ms, ease);
		position:absolute;
		left:0;
		height:4px;
		width:100%;
		display:block;
		background:$menuclr;
		&.bar-1 {top:3px;}
		&.bar-2 {top:10px;}
	}
	
	a {
		color:#333;
		font-weight:bold;
		font-size:16px;
		font-size:1rem;
		display:block;
		text-decoration:none;
		line-height:1em;
		&:hover, &.cur {color:#aaa;}
		&.cur {cursor:auto;}
	}
	
	@media screen and (max-width:1100px) {
		ul > li {margin-left:15px;}
		li > a {font-size:12px;font-size:0.75rem;}
	}
	
	// !! make sure to change micro menu function when 
	// changing this breaking point value as they work hand in hand.
	@media screen and (max-width:850px) {
		
		ul {
			background:#fff;
			position:absolute;
			top:100%;
			right:0;
			margin-top:10px;
			z-index:940;
			// width:100%;
			max-width:300px;
			display:none;
			@include border-radius(5px);
			@include box-shadow(0 0 20px rgba(0,0,0,0.25));
			border:1px solid #e4e4e4;
			border:1px solid rgba(0,0,0,0.15);
			background:url("#{$image_path}ffffff-095.png");
			background:rgba(255,255,255,0.95);
			// max-height:200px; // !! this is done via .js (see plms.micromenu.js)
			overflow-y:scroll;
			overflow-x:hidden;
			&.active {display:block;}
		}
		
		.menu-handle {display:block;}
		
		ul > li {
			float:left;
			width:100%;
			margin:0;
			border-bottom:1px solid #e4e4e4;
			border-bottom:1px solid rgba(0,0,0,0.1);
			@include borderbox;
			&:last-child {border:0;}
		}
		
		li > a {
			padding:15px 20px;
			font-size:16px;
			font-size:1rem;
			font-weight:normal;
		}
		
		// IE 7
		html.lt-ie8 & {
			ul {width:300px;}
			ul > li {clear:both;display:block;}
		}
		// < IE 7 (end)
		
	} // @media screen
	
	@media screen and (max-width:550px) {
		ul {max-width:none;}
	}
	
	@media screen and (max-width:400px) {
		& {width:100%;}
		.menu-handle {float:none;display:table;margin:0 auto;}
	}
	
} // .globalnav-main

/////////////////////////////////////////////////////////////////////////

.column {
	
	float:left;
	@include borderbox;
	
	// relative to a 12 column grid.
	// "span" represent the space taken per column.
	
	&.span-1 {width:008.3333333%;} // 1 / 12
	&.span-2 {width:016.666667%;} // 2 / 12
	&.span-3 {width:25%;}
	&.span-4 {width:033.333333%;}
	&.span-5 {width:041.666667%;}
	&.span-6 {width:50%;}
	&.span-7 {width:058.333333%;}
	&.span-8 {width:066.666667%;}
	&.span-9 {width:75%;}
	&.span-10 {width:083.333333%;}
	&.span-11 {width:091.666667%;}
	&.span-12 {width:100%;} // !! shouldn't be using a column class in this case.
	&.span-6:first-child {padding-right:30px;}
	&.span-6:last-child {padding-left:30px;}
	
} // .column

/////////////////////////////////////////////////////////////////////////

#main-footer {
	
	@include clearfix;
	@include borderbox;
	padding:30px 20px;
	position:relative;
	z-index:3;
	background:$main_footer_bg_clr;
	@include main_footer_bdr;
	@include box-shadow(0 0 30px rgba(0,0,0,0.05));
	
	p {margin:0;}
	p, p * {
		font-size:12px;
		font-size:0.75rem;
	}
	
} // #main-footer

/////////////////////////////////////////////////////////////////////////

.main-content-header {
	border-bottom:1px solid #e4e4e4;
	border-bottom:1px solid rgba(0,0,0,0.15);
	margin-bottom:20px;
	position:relative;
}

/////////////////////////////////////////////////////////////////////////

#main-content {
	
	.wrapper {
		padding:40px 0;
		z-index:2;
	}
	
	@include main_content_bg;
	float:left;
	width:100%;
	padding:0 20px 100px 20px;
	position:relative;
	overflow:hidden; // !! fixes a bug when orientation is changed on mobile device.
	@include borderbox;
	&:after {@include clearfix;}
	
	// IE 7
	html.lt-ie8 & {
		width:auto;
		padding:0;
		float:none;
	}
	// < IE 7 (end)
	
} // #main-content

/////////////////////////////////////////////////////////////////////////

/*
.main-content-body {
	padding-left:20px;
}
*/

.boxed-content {
	padding:30px;
	@include borderbox;
	float:left;
	width:100%;
	background:#fff;
	@include border-radius(5px);
	@include box-shadow(0 0 30px rgba(0,0,0,0.05));
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.15);
	// IE 7 >
	html.lt-ie8 & {
		float:none;
		width:90%;
		margin:0 auto;
	} // < IE 7 (end)
}

.btn.forgot-pwd {padding-right:0;}
.btn.reset-pwd {margin-top:10px;}

.form-section-header {
	clear:both;
	width:100%;
	float:left;
	:last-child {margin-bottom:0;}
	h1, h2, h3, h4, h5, h6 {margin-bottom:10px;}
}

.form-footer {
	clear:both;
	float:left;
	width:100%;
	margin-top:20px;
	&:after {@include clearfix;}
}

.input-button-group {
	// use this wrapper <div /> to horizontally align a text input and button.
	// !! make sure to assign a ".ws-per-xx" class to affected .plms-fielset and button elements.
	position:relative;
	width:100%;
	float:left;
	.plms-fieldset {
		padding-right:20px;
		@include borderbox;
	}
	.btn {
		padding:12px 7px;
		line-height:1.25em;
		position:absolute;
		bottom:0;
		right:0;
	}
}





