@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	-o-border-radius:$radius;
	border-radius:$radius;
}

@mixin box-shadow($vals) {
	-webkit-box-shadow:$vals;
	-moz-box-shadow:$vals;
	-o-box-shadow:$vals;
	box-shadow:$vals;
}

@mixin borderbox {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	// *behavior:url("/_scripts/boxsizing.htc"); // !! star hack means it's specific to IE 6 and 7.
}

@mixin transition($property, $dur, $transitiontype) {
	-webkit-transition:$property $dur $transitiontype;
	-moz-transition:$property $dur $transitiontype;
	-ms-transition:$property $dur $transitiontype;
	-o-transition:$property $dur $transitiontype;
	transition:$property $dur $transitiontype;
}

@mixin transitions($properties...) {
	-webkit-transition:$properties;
	-moz-transition:$properties;
	-ms-transition:$properties;
	-o-transition:$properties;
	transition:$properties;
}

@mixin notransition() {
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

@mixin gradient($from, $to) {
  background-color: $from; /* fallback/image non-cover color */
  background-image: -moz-linear-gradient($from, $to); /* Firefox 3.6+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); /* Safari 4+, Chrome 1+ */
  background-image: -webkit-linear-gradient($from, $to); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient($from, $to); /* Opera 11.10+ */
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin clearfix {
	clear:both;
	content:"";
	display:block;
}

@mixin hyphens {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@mixin hasError {
	box-shadow:0 1px 2px rgba(0,0,0,0.1) inset, 0 0 6px rgba(218,62,39,0.75);
	border:1px solid #fd0011;
	border:1px solid rgba(253,0,17,0.5);
	background:#fff2f3;
}

@mixin textbox() {
	
	width:100%;
	padding:12px;
	@include borderbox;
	@include box-shadow(0 1px 3px rgba(0,0,0,0.1));
	@include border-radius(3px);
	font-size:1em;
	background:#fff;
	margin:0;
	border:0;
	
	&.skin2 {
		background:$lightest_grey;
		border:1px solid #e4e4e4;
		border:1px solid rgba(0,0,0,0.1);
	}
	
	&:active, &:focus {
		// background:#f2f1ea;
		@include box-shadow(0 0 5px rgba(0,0,0,0.2));
	}
	
	html.lt-ie8 & {padding:12px 0;} // < IE 7
	
} // textbox();

