/////////////////////////////////////////////////////////////////////////

.btn {
	
	$vertical_padding: 7px; // vertical padding.
	$horizontal_padding: 10px; // horizontal padding.
	$buffer: 10px; // buffer space between icon and text.
	
	display:block;
	float:left;
	text-transform:uppercase;
	text-shadow:none!important;
	letter-spacing:1px;
	font-size:11px;
	font-size:0.6875rem;
	background:$primary_btn_bg_clr;
	color:$primary_btn_text_clr;
	padding:$vertical_padding $horizontal_padding;
	cursor:pointer;
	@include transition(background-color, 250ms, linear);
	text-decoration:none;
	@include border-radius(5px);
	@include borderbox;
	position:relative;
	border:1px solid transparent;
	html.lt-ie8 & {border:0;} // < IE 7
	
	&.large {font-size:16px;font-size:1rem;}
	&.xlarge {font-size:18px;font-size:1.25rem;}
	
	/* --- */
	
	// * {font-size:1em;}
	
	&.fluid {float:none;text-align:center;}
	&.align-r {float:right;}
	&.hyperlink {color:$anchor_clr;background:0;text-decoration:underline;}
	&.hyperlink:first-child {padding-left:0;}
	&.hyperlink:hover {text-decoration:none;color:#777;background:0;}
	&.c-case {text-transform:capitalize;letter-spacing:0;}
	&.med {padding:12px;font-size:16px;font-size:1rem;}
	&.lrg {padding:15px;font-size:18px;font-size:1.125rem;}
	&.reset {@include border-radius(5px!important);}
	
	// &.is-disabled:active, &.is-disabled:focus {background:#d8261f;@include opacity(0.75);}
	
	// buttons with icons.
	
	> .icon {position:absolute;top:50%;left:$horizontal_padding;}
	
	&.icon-size-12 {padding-left:$horizontal_padding + 12 + $buffer;}
	&.icon-size-16 {padding-left:$horizontal_padding + 16 + $buffer;}
	&.icon-size-18 {padding-left:$horizontal_padding + 18 + $buffer;}
	
	// !! use w/ caution >
	// strongly suggested to add "med" (medium) class or equivalent 
	// to button for icons larger than 18 pixels; otherwise, expect icon
	// to bleed outside of button.
	
	&.icon-size-24 {padding-left:$horizontal_padding + 24 + $buffer;}
	&.icon-size-32 {padding-left:$horizontal_padding + 32 + $buffer;}
	&.icon-size-36 {padding-left:$horizontal_padding + 36 + $buffer;}
	&.icon-size-48 {padding-left:$horizontal_padding + 48 + $buffer;}
	
	&.grey {
		background:$light_grey;
		color:#333;
		&:hover {background:lighten($light_grey, 5%);}
	}
	
	// state / pseudo
	&:hover, &.hover {background:lighten($primary_clr, 10%);text-decoration:underline;}
	&.selected, &.selected:hover {background:$secondary_clr;cursor:auto;color:#fff;}
	
	&.skin2 {
		background:$secondary_btn_bg_clr;
		color:$secondary_btn_text_clr;
		&:hover, &.hover {background:lighten($secondary_btn_bg_clr, 10%);}
	} // .skin2
	
	&.is-disabled {
		cursor:not-allowed;
		background:rgba(0,0,0,0.2)!important;
		background:#ddd!important;
		color:#c3c3c3;
		text-shadow:1px 1px 0 rgba(255,255,255,0.1);
	}
	
} // .btn

/////////////////////////////////////////////////////////////////////////

.btngrp.radio-group {
	.btn {
		cursor:pointer!important;
		@include notransition();
		&.selected {}
		// &:active {background:lighten($primary_clr, 5%);color:#fff;}
		// &.selected:active {background:lighten($secondary_clr, 5%);color:#fff;}
	}
}

/////////////////////////////////////////////////////////////////////////

.button {
	a {
		background:#888;
		text-decoration:none;
		color:#fff;
		padding-left:20px;
		padding-right:20px;
		@include border-radius(5px);
	}
	&.alt a {
		background:$secondary_btn_bg_clr;
	}
}

/////////////////////////////////////////////////////////////////////////

// icons

.plms-icon {
	display:block;
	background-image:url("#{$image_path}sprite2.png");
	background-image:url("#{$image_path}sprite2.svg"), none;
}

// !! not all icons will have all size available.

.plms-icon.size-12 {width:12px;height:12px;/*margin-top:-6px;*/}
.plms-icon.size-16 {width:16px;height:16px;/*margin-top:-8px;*/}
.plms-icon.size-18 {width:18px;height:18px;/*margin-top:-9px;*/}
.plms-icon.size-24 {width:24px;height:24px;/*margin-top:-12px;*/}
.plms-icon.size-32 {width:32px;height:32px;/*margin-top:-16px;*/}
.plms-icon.size-36 {width:36px;height:36px;/*margin-top:-18px;*/}
.plms-icon.size-48 {width:48px;height:48px;/*margin-top:-24px;*/}

.plms-icon.external {}
.plms-icon.external.size-12 {}
.plms-icon.external.size-16 {}
	
.plms-icon.letter-a {}
.plms-icon.letter-a.size-16 {background-position:0 0;}
.plms-icon.letter-a.size-16:hover {background-position:-26px 0;}

.plms-icon.updown-arrows.size-12 {background-position:0 -26px;}
.plms-icon.updown-arrows.size-12:hover {background-position:-22px -26px;}

.plms-icon.question-mark.size-16 {background-position:0 -48px;}
.plms-icon.question-mark.size-16:hover {background-position:-26px -48px;}

.plms-icon.solid-x.size-24 {
	$y_coord: -74px;
	background-position:-34px $y_coord;
	&:hover {background-position:-68px $y_coord;}
	&.inverse {
		background-position:-68px $y_coord;
		&:hover {background-position:0 $y_coord;}
	}
}

.plms-icon.chevron-right.size-24 {background-position:-34px -208px;}
.plms-icon.chevron-right.size-24:hover {background-position:0 -208px;}

.plms-icon.chevron-right.size-16 {background-position:-26px -275px;}
.plms-icon.chevron-right.size-16:hover {background-position:0 -275px;}

.plms-icon.chevron-down.size-16 {background-position:-26px -302px;}
.plms-icon.chevron-down.size-16:hover {background-position:0 -302px;}

.plms-icon.calendar.size-24 {background-position:0 -174px;}
.plms-icon.calendar.size-24:hover {background-position:-32px -174px;}

.plms-icon.checkbox-unchecked {cursor:pointer;}
.plms-icon.checkbox-unchecked.size-24 {background-position:0 -328px;}
.plms-icon.checkbox-unchecked-white.size-24 {background-position:-34px -328px;}

.plms-icon.checkbox-checked.size-24 {background-position:0 -362px;}
.plms-icon.checkbox-checked-white.size-24 {background-position:-34px -362px;}

.plms-icon.round-checkmark.size-24 {background-position:0 -418px;}

.plms-icon.nobg-x.size-12 {background-position:-22px -396px;}

/////////////////////////////////////////////////////////////////////////

.breadcrumbs {float:left;display:table;height:30px;}
.breadcrumbs ul {list-style:none;margin:0;display:table-cell;vertical-align:middle;}

.breadcrumbs li {
	margin:0 5px 0 0;
	display:block;
	float:left;
}

.breadcrumbs * {font-size:12px;font-size:0.75rem;line-height:1em;}
.breadcrumbs .chevron {margin:0 5px 0 0;}

.fa {text-decoration:none;}

.font-settings {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-0.5em;
	@include transition(color, 250ms, linear);
	&:hover {color:#555;}
}

/////////////////////////////////////////////////////////////////////////

.imggal { // image gallery (start)
	
	width:100%;
	float:left;
	clear:both;
	margin-top:30px;
	padding-top:30px;
	border-top:1px solid #ccc; // fallback
	border-top:1px solid rgba(255,255,255,0.5);
	
	.main {padding:5px 5px 0 5px;background:#000;@include borderbox;}
	
	.thumbnails {
		clear:both;
		padding:0 5px 5px 5px;
		background:#000;
		float:left;
		width:100%;
		@include borderbox;
	}
	
	img {width:100%;}
	a {display:block;float:left;width:12.5%;@include borderbox;}
	a img {@include borderbox;border-top:5px solid #000;}
	a:hover {}
	a:hover img {border-top:5px solid grayscale($primary_clr);opacity:0.8;}
	a.cur img {border-top:5px solid $primary_clr;opacity:1;}
	
} // image gallery (end)

/////////////////////////////////////////////////////////////////////////

.boxset {
	width:100%;
	float:left;
	margin:0 0 20px 0;
	* {
		color:#fff; // !! should be a theme variable.
		text-align:center;
	}
	:last-child {margin:0;}
	html.lt-ie8 & {} // < IE 7
}

$boxset-box-height: 260px;

.boxset-box {
	
	float:left;
	width:33.3333333%;
	overflow:hidden;
	@include borderbox;
	margin-bottom:20px;
	height:$boxset-box-height;
	line-height:$boxset-box-height;
	
	&:nth-child(3n+1) {clear:left;}
	&:nth-child(3n-1) {padding-left:20px;}
	&:nth-child(3n+3) {padding-left:20px;}
	
	// !! wtf, not recognized in ie8 if selectors are comma seperated.
	// because of that, we're forced to repeat rules and properties.
	
	&.nth-child-3np1 {clear:left;}
	&.nth-child-3nm1 {padding-left:20px;}
	&.nth-child-3np3 {padding-left:20px;}
	
	// IE 7
	html.lt-ie8 & {
		width:32%;
		&.nth-child-3np1 {clear:left;}
		&.nth-child-3nm1 {padding-left:1.9%;}
		&.nth-child-3np3 {padding-left:1.9%;}
	}
	// < IE 7 (end)
	
	.boxset-box-wrapper {
		@include transition(background-color, 250ms, linear);
		@include border-radius(5px);
		@include borderbox;
		background:$primary_clr;
		height:$boxset-box-height;
		line-height:$boxset-box-height;
		text-decoration:none;
		display:table;
		*display:block;
		width:100%;
		&:hover,
		&.is-selected {
			background:$secondary_clr;
			&, * {
				color:$secondary_btn_text_clr;
			}
		}
		&.is-selected {cursor:text;}
		&.is-disabled {
			cursor:not-allowed;
			background:rgba(0,0,0,0.2);
			background:#ddd;
			* {color:#c7c7c7;text-shadow:1px 1px 0 rgba(255,255,255,0.1);}
		}
	}
}

.boxset-box-inner {
	display:table-cell;
	vertical-align:middle;
	padding:30px;
}

@media screen and (max-width:1000px) {
	h4 {font-size:16px;font-size:1rem;line-height:1.5em;}
	.boxset-body * {font-size:14px;font-size:0.875rem;}
}

/////////////////////////////////////////////////////////////////////////

.boxset-summary {
	@include borderbox;
	@include border-radius(5px);
	@include box-shadow(0 0 10px rgba(0,0,0,0.15));
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.1);
	background:#fff;
	margin-bottom:20px;
	clear:both;
	:last-child {margin:0;}
}

.boxset-summary-header {
	padding:20px;
	border-bottom:1px solid #e4e4e4;
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.boxset-summary-body {padding:20px;}
	
/////////////////////////////////////////////////////////////////////////

@keyframes accordionFlicker {
	50% {background-color:lighten($primary_clr, 10%);}
}

@-webkit-keyframes accordionFlicker {
	50% {background-color:lighten($primary_clr, 10%);}
}

.plms-accordion {
	
	float:left;
	width:100%;
	clear:both;
	margin-bottom:20px;
	background:#fff;
	@include borderbox;
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.1);
	@include box-shadow(0 0 10px rgba(0,0,0,0.15));
	@include border-radius(5px);
	&.is-open {background:$lightest_grey;}
	&.soft {@include box-shadow(0 0 5px rgba(0,0,0,0.05));}
	&.is-faq .h6 {margin:0;}
	&.is-faq {margin:0 0 1px 0;}
	&.is-faq .plms-accordion-header {cursor:pointer;}
	
	// turn off default accordion behaviour.
	// hides toggle handle and removes accompanying padding.
	
	&.disable-toggle {
		.openclose-icon {display:none;}
		.plms-accordion-header {padding:20px;}
	}
	
	&.flickr {
		animation:accordionFlicker 500ms ease 1;
		-webkit-animation:accordionFlicker 500ms ease 1;
		-moz-animation:accordionFlicker 500ms ease 1;
	}
	
	&.selected-items {
		overflow:hidden;
		@include box-shadow(0 0 20px rgba(0,0,0,0.1));
		border:1px solid rgba(0,0,0,0.15);
		.plms-icon-accordion {position:absolute;right:12px;top:50%;margin-top:-8px;opacity:0.5;}
		.plms-accordion-title {font-weight:bold;margin-top:0;}
		.counter {font-weight:normal;color:rgba(0,0,0,0.5);}
		.plms-accordion-header {padding:12px;cursor:pointer;}
		.plms-accordion-body {padding:0;}
		.plms-accordion-body-content {padding:0;}
		.plms-table {border:0;}
	}
	
	.span-8 {padding-right:40px;}
	
	// IE 7
	html.lt-ie8 & {
		float:none;
		width:auto;
		.span-8 {padding:0;}
	}
	// < IE 7 (end)

} // .plms-accordion

.plms-accordion-body {
	padding-top:20px;
	border-top:1px solid #e4e4e4;
	border-top:1px solid rgba(0,0,0,0.1);
	p {margin-bottom:10px;}
}

.plms-accordion-title {
	margin:0;
	line-height:1.5em;
	float:left;
	margin-top:-5px;
	width:100%;
}

.plms-accordion-excerpt {
	clear:both;
	display:block;
	line-height:1.5em;
	margin-top:5px;
	float:left;
	width:100%;
	color:#aaa;
}

.plms-accordion.is-open .plms-accordion-excerpt {color:#666;}

.plms-accordion-header {
	float:left;
	width:100%;
	position:relative;
	padding:20px;
	padding-right:64px;
	@include borderbox;
	&.tooltip-on {z-index:4;} // !! required to fix IE 7 stacking problem.
	// IE 7
	html.lt-ie8 & {
		width:auto;
		float:none;
		overflow:auto;
		zoom:1;
	}
	// < IE 7 (end)
}

.plms-accordion-body {clear:both;display:none;}
.plms-accordion.is-open .plms-accordion-body {display:block;}

.plms-accordion-body-content {
	padding:0 20px 20px 20px;
	clear:both;
	:last-child {margin-bottom:0;}
	html.lt-ie8 & {}
}

.completed, .completed:hover {background:#efefef;color:#729d1e;cursor:auto;}

.plms-accordion-nav {
	
	float:left;
	width:100%;
	padding:0 20px;
	margin-bottom:20px;
	@include borderbox;
	ul {list-style:none;}
	li {float:left;margin:0 1px 0 0;}
	
	a {
		padding:15px 20px;
		background:#717073;
		color:#fff;
		display:block;
		@include transition(all, 250ms, linear);
		border:1px solid transparent;
		&:hover {background:$primary_clr;color:#fff;}
	}
	
	.cur a {
		@include box-shadow(inset 0 0 5px rgba(0,0,0,0.15));
		border:1px solid #e4e4e4;
		border:1px solid rgba(0,0,0,0.1);
		position:relative;
		text-decoration:none;
		background:0;
		cursor:auto;
		color:#333;
	}
	
	// IE 7 >
	html.lt-ie8 & {
		width:90%;
	}
	// < IE 7 (end)
	
} // .plms-accordion-nav

.openclose-icon {
	width:24px;
	height:24px; // !! ie10 icon seems "clipped", if becomes apparent issue — increase height by 1 pixel.
	display:block;
	cursor:pointer;
	background-image:url("#{$image_path}sprite2.png");
	background-image:url("#{$image_path}sprite2.svg"), none;
	position:absolute;
	top:20px;
	right:20px;
	 
	&.closed {background-position:-34px -208px;}
	&.closed:hover {background-position:0 -208px;}
	&.opened {background-position:-34px -242px;}
	&.opened:hover {background-position:0 -242px;}
}

.plms-accordion-metadata {
	margin:0;
	list-style:none;
	width:100%;
	float:left;
	@include borderbox;
	margin-top:20px;
	&.is-hidden {display:none;}
}

.plms-accordion-metadata-item {
	margin-bottom:5px;
	float:left;
	width:100%;
	&:last-child {margin:0;}
	span {
		font-size:11px;
		font-size:0.6875rem;
		text-transform:uppercase;
		line-height:1.25em;
		@include borderbox;
	}
	.key {
		font-weight:bold;
		float:left;
		padding-right:20px;
		width:40%;
	}
	
	.value {float:left;width:60%;}
	
	// IE 7 >
	html.lt-ie8 & {
		.key {padding:0;}
	}
	// < IE 7 (end)
}

.plms-accordion-body-content li {list-style:disc;list-style-position:inside;}

.progressbar {
	clear:both;
	width:100%;
	background:rgba(0,0,0,0.15);
	position:relative;
	margin-top:10px;
	@include border-radius(50px);
	overflow:hidden;
}

.progressbar-value {
	background:rgba(0,0,0,0.5);
	display:block;
	font-size:11px;
	font-size:0.6875rem;
	@include borderbox;
	padding-left:10px;
	color:#fff;
	&.per0 {background:0;}
	&.per70 {width:70%;}
	&.per35 {width:35%;}
}

.training-type {
	font-size:11px;
	font-size:0.6875rem;
	color:rgba(0,0,0,0.5);
	display:block;
	line-height:1em;
	margin-bottom:5px;
	text-transform:uppercase;
	letter-spacing:1px;
}

.training-cats {
	&, * {font-size:11px;font-size:0.6875rem;color:rgba(0,0,0,0.5);line-height:1em;}
	display:block;
	margin-top:7px;
	clear:both;
	float:left;
}

.plms-accordion-status-grp {float:left;margin-top:5px;}

.plms-accordion-status {
	padding:5px;
	@include border-radius(2px);
	background:#717073;
	color:#fff;
	background:transparent;
	border:1px solid $primary_clr;
	color:$primary_clr;
	text-transform:uppercase;
	display:block;
	float:left;
	font-size:9px;
	font-size:0.5625rem;
	letter-spacing:1px;
	line-height:1em;
	margin-right:5px;
	
	&.skin2 {
		background:#efefef;
		color:#eb5b5d;
	}
}
	
/////////////////////////////////////////////////////////////////////////

.plms-tooltip-parent {position:relative;z-index:1;display:block;}
.plms-tooltip-parent.flt-left {float:left;}
.plms-tooltip-parent.flt-right {float:right;}

.plms-tooltip {
	position:absolute;
	@include border-radius(5px);
	@include box-shadow(0 0 20px rgba(0,0,0,0.25));
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.15);
	background:url("#{$image_path}ffffff-095.png");
	background:rgba(255,255,255,0.95);
	top:auto;
	right:auto;
	bottom:auto;
	left:auto;
	margin-top:1px;
	// width:500px;
	width:100%;
	@include borderbox;
	@include transition(margin-top, 750ms, ease);
	padding:20px;
	display:none;
	z-index:999;
	&:after {@include clearfix;}
	// --- //
	h6 {margin-bottom:10px;}
	ul {list-style:none;}
	ul * {font-size:14px;font-size:0.875rem;}
	// ul * * {font-size:1em;}
	li {clear:both;width:100%;float:left;}
	.key, .value {float:left;width:50%;text-transform:uppercase;}
	.key {font-weight:bold;}
	.value {}
	// --- //
	
	&.flyin {display:block;margin-top:-900em;}	
	&.flyin.active {margin-top:0;}
	
	&.active {display:block;}
	&.size-sml {width:200px;}
	&.size-med {width:300px;}
	&.size-lrg {width:600px;}
	&.size-xlg {width:800px;}
	&.autow {width:auto;}
	&.padding-sml {padding:10px;}
	&.outside.left-btm {left:0;top:100%;}
	&.outside.left-top {left:0;bottom:100%;}
	&.outside.right-btm {right:0;top:100%;}
	&.outside.right-top {right:0;bottom:100%;}
	&.inside.left-btm {left:0;bottom:0;}
	&.inside.left-top {left:0;top:0;}
	&.inside.right-btm {right:0;bottom:0;}
	&.inside.right-top {right:0;top:0;}
	&.static {position:static;}
	&.label-replacement {display:none;}
	&.dshadow-heavy {@include box-shadow(0 0 150px rgba(0,0,0,0.5));border:1px solid rgba(0,0,0,0.2);}
	
	&.is-alert {
		position:fixed;
		top:30%;
		left:50%;
		z-index:997;
	}
	// offset relative to width.
	&.is-alert.size-sml {margin-left:-100px;}
	&.is-alert.size-med {margin-left:-150px;}
	&.is-alert.size-lrg {margin-left:-300px;}
	&.is-alert.size-xlg {margin-left:-400px;}
	&.can-dismiss .plms-tooltip-header {padding-right:40px;}
	&.can-dismiss .plms-tooltip-body.standalone {padding-right:40px;}
}

.plms-tooltip .plms-tooltip-activity-icon {
	position:absolute;
	margin-top:-12px;
	top:50%;
	left:0;
}

.plms-tooltip .plms-tooltip-dismiss-icon {
	text-indent:-999em;
	position:absolute;
	top:0;
	right:0;
	&:hover {opacity:0.5;}
}

.plms-tooltip .has-icon {
	position:relative;
	padding-left:24px + 20px;
}

.plms-tooltip-header {
	position:relative;
	border-bottom:1px solid #e4e4e4;
	border-bottom:1px solid rgba(0,0,0,0.1);
	margin-bottom:12px;
	padding-bottom:10px;
	:last-child {margin:0;}
}

.plms-tooltip-body {position:relative;}
.plms-tooltip-body :last-child {margin-bottom:0;}

.plms-tooltip.fontsize .btngrp {width:100%;}

.plms-tooltip.fontsize .btn {
	margin:0;
	width:33.3333333%;
	text-align:center;
	border-right:1px solid #fff;
	&:last-child {border-right:0;}
}

.plms-tooltip-chevron {}

.plms-tooltip-micro {
	padding:10px;
	* {font-size:12px;font-size:0.75rem;}
	// * * {font-size:1em;}
	.btn {font-size:10px;font-size:0.625rem;padding:2px 5px;}
}

/////////////////////////////////////////////////////////////////////////

.plms-label {
	margin-top:10px;
	@include transitions(margin-top 150ms ease, opacity 150ms ease);
	&.no-margin {margin:0;}
	&.inline {display:inline;}
	&.is-hidden {opacity:0;margin-top:0;}
	html.no-placeholder &.is-hidden {margin-top:10px;}
	html.placeholder &.no-height {height:0;margin-bottom:0;}
}

/*
.plms-radio {
	margin-right:5px;
}

.label-radio-group {
	.plms-label {
		margin-left:10px;
		&:first-child {margin:0;}
	}
}
*/

.plms-fieldset {
	clear:both;
	float:left;
	width:100%;
	// &:first-child .plms-label {margin-top:0;}
	&.is-hidden {display:none;}
	&.label-radio {
		h6:last-of-type {margin:0 0 10px 0;}
		&, * {line-height:1.3em;}
		margin-top:20px;
		.plms-label {}
	}
}

/////////////////////////////////////////////////////////////////////////

.plms-modal {
	@include modal_bg;
	width:100%;
	height:100%;
	position:fixed;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
	top:0;
	left:0;
	z-index:999;
	@include borderbox; // !! causes odd behaviour in IE9; use cautiously.
	html.is-ie9 & {box-sizing:content-box;}
	&.active {display:block;}
	.plms-icon.solid-x {position:absolute;top:30px;right:30px;cursor:pointer;}
	html.placeholder &.login label {display:none;}
	&.login input {background:#fafafa;}
	
	&.login .contents-b {
		clear:both;
		margin:20px 0 0 0;
		padding-top:20px;
		border-top:1px solid #e4e4e4;
		border-top:1px solid rgba(0,0,0,0.1);
		float:left;
		*float:none; // IE 7
		width:100%;
		display:none;
		display:block;
		&.is-visible {display:block;}
	}
	
	&.login .contents-b .plms-fieldset {margin-bottom:10px;}
	html.no-boxshadow &.login input {border:1px solid #ccc;}
	html.no-boxshadow &.login input:first-child {margin-bottom:-1px;}
}

.plms-modal-box {
	// background:#fff;
	max-width:500px;
	width:100%;
	position:relative;
	margin:-100em auto 5% auto;
	overflow:hidden;
	@include border-radius(5px);
	@include box-shadow(0 0 30px rgba(0,0,0,0.25));
	@include transition(margin-top, 100ms, linear);
	@include borderbox;
	&.flyin {margin-top:40px;}
	&.width2 {max-width:750px;}
}

.plms-modal-body {
	
	& {
		background:#fff;
		padding:30px;
	}
	
	&.standalone {padding:30px 70px 30px 30px;}
	
	:last-child {margin-bottom:0;}
	
	.course-title,
	.course-status {
		float:left;
		width:100%;
		padding:10px 30px;
		@include borderbox;
		html.lt-ie8 & {
			display:inline-block;
			width:auto;
			float:none;
		} // < IE 7
	}
	
	// Course Progress >
	
	.course-title {
		margin-top:-3px;
		background:$modal_secondary_header_bg_clr;
		* {color:$modal_secondary_header_text_clr;font-weight:bold;}
	}
	
	.course-status {
		background:#e5e5e5;
		background:rgba(0,0,0,0.1);
	}
	
	&.course-prog {
		padding:0;
		.column.span-4 h6 {padding-right:30px;} // !! we target the <h6 /> (instead of parent selector) to accomodate IE 7.
		$primary-border-top-fallback: 1px solid #e4e4e4;
		$primary-border-top: 1px solid rgba(0,0,0,0.1);
		$secondary-border-top-fallback: 1px dotted #e4e4e4;
		$secondary-border-top: 1px dotted rgba(0,0,0,0.1);
		$vertical-spacing: 20px;
		// --- //
		.metadata-value {display:block;margin:0 0 10px 0;}
		.metadata-value:last-child {margin:0;}
		.metadata {padding:20px 30px 30px 30px;}
		.metadata, .child-metadata {clear:both;}
		
		.metadata-group {
			clear:both;
			*clear:none; // < IE 7
			*display:inline-block; // < IE 7
			margin:$vertical-spacing 0 0 0;
			padding:$vertical-spacing 0 0 0;
			border-top:$primary-border-top-fallback;
			border-top:$primary-border-top;
			// !! use top margins and paddings to bypass with use of :first-child pseudo-class which
			// is more widely supported (IE 7).
			&:first-child {margin:0;padding:0;border:0;}
			&:after {@include clearfix;}
		}
		
		.child-metadata-group {
			border-top:$secondary-border-top-fallback;
			border-top:$secondary-border-top;
			padding-top:$vertical-spacing;
			margin-top:$vertical-spacing;
		}
	}
	
	// < end (course progress)
	
	html.lt-ie8 & {
		display:inline-block;
	} // < IE 7
	
} // .plms-modal-body

.plms-modal-header {
	background:$modal_header_bg_clr;
	padding:30px 70px 30px 30px;
	border-bottom:3px solid $modal_bdr_clr;
	h3, h6 {margin:0;}
	* {color:$modal_header_text_clr;}
}

.plms-modal-body:after {@include clearfix;}

/////////////////////////////////////////////////////////////////////////

.plms-input-wrapper {margin-bottom:10px;}
.plms-input-wrapper:last-child {margin-bottom:0;}
	
.plms-input {
	@include textbox();
	line-height:1.25em;
	margin:0;
	
	&.square {@include border-radius(0);}
	&.flat-r {@include border-radius(5px 0 0 5px);}
	&.flat-l {@include border-radius(0 5px 5px 0);}
	&.large {padding:20px;}
	// !! moved to textbox() mixin.
	// &.skin2 {background:$lightergrey;border:1px solid #e4e4e4;border:1px solid rgba(0,0,0,0.1);}
	&.has-error {@include hasError;} // !! keep at bottom of hierarchy.
	
	&.datepicker {
		padding-left:12px + 24px + 10px;
		background-image:url("#{$image_path}icon-calendar.svg");
		background-position:12px 50%;
		background-repeat:no-repeat;
	}
	
	&[disabled], &.is-disabled {cursor:not-allowed;@include opacity(0.5);}
	
	&[disabled]:active, 
	&[disabled]:focus, 
	&.is-disabled:active, 
	&.is-disabled:focus {background:#d8261f;}
}

.plms-input-group {
	margin-bottom:20px;
	// .plms-input:first-child {@include border-radius(5px 5px 0 0);}
	// .plms-input:last-child {@include border-radius(0 0 5px 5px);}
}

/////////////////////////////////////////////////////////////////////////

#ui-datepicker-div {z-index:4!important;}

.ui-datepicker {
	* {font-size:12px;text-transform:uppercase;}
}

/////////////////////////////////////////////////////////////////////////

textarea {height:200px;}

.plms-textarea {
	@include textbox();
	resize:vertical;
	height:200px;
	float:left;
	&.has-error {@include hasError;}
	&.height-small {height:100px;}
} // .bc-textarea

/////////////////////////////////////////////////////////////////////////

label {
	text-align:left;
	display:block;
	margin:0 0 5px 0;
	line-height:1.3em;
	font-size:11px;
	font-size:0.6875rem;
	&.inline {display:inline;margin-right:10px;}
	&.medium {font-size:16px;font-size:1rem;line-height:1.5em;}
}

/////////////////////////////////////////////////////////////////////////

.plms-alert {
	$horizontal_padding: 12px;
	margin-bottom:20px;
	padding:7px $horizontal_padding;
	@include borderbox;
	* {color:#fff;}
	:last-child {margin:0;}
	.last-child {margin:0;}
	
	&.neutral {
		background:$alert_soft_bg_clr;
		* {color:$alert_soft_text_clr;}
	}
	
	&.secondary-clr {
		background:$secondary_clr;
		* {color:#fff;}
	}
	
	&.invalid, &.critical {
		background:$alert_invalid_bg_clr;
		* {color:$alert_invalid_text_clr;}	
	}
	
	&.valid {
		background:$alert_valid_bg_clr;
		* {color:$alert_valid_text_clr;}
	}
	
	&.invisible {display:none;}
}

/////////////////////////////////////////////////////////////////////////

// Button group.

.btngrp {
	
	float:left;
	
	&.fwidth {width:100%;}
	&.alignr, &.align-r {float:right;}
	
	.btn {
		margin:0 0 0 1px;
		@include border-radius(0);
		&.first, &:first-child {@include border-radius(5px 0 0 5px);margin:0;}
		&.last, &:last-child {@include border-radius(0 5px 5px 0);}
		&.round {@include border-radius(5px!important);}
	} // .btn
	
} // .btngrp

/////////////////////////////////////////////////////////////////////////

// Pagination nav.

#pg-nav {
	
	width:100%;
	clear:both;
	float:left;
	border-top:1px solid rgba(0,0,0,0.1);
	padding-top:20px;
	
	/* --- */
	
	.btn {
		font-size:16px;
		font-size:1rem;
		padding:15px;
		&.last {float:right;}
	}
	
} // #pg-nav

/////////////////////////////////////////////////////////////////////////

// Fluid button group.

.btngrp-fluid {
	
	float:left;
	width:100%;
	
	.btn {
		
		float:left;
		margin:0;
		padding-left:0;
		padding-right:0;
		text-align:center;
		@include border-radius(0);
		
		/* --- */
		
		&:before {
			display:block;
			content:"";
			width:1px;
			height:100%;
			// background:transparentize(#4d4a43, 0.75);
			background:rgba(255,255,255,0.2);
			position:absolute;
			top:0;
			left:-1px;
		}
		
		&.first, &:first-child {@include border-radius(3px 0 0 3px);}
		&.first:before, &:first-child:before {display:none;}
		&.last, &:last-child {@include border-radius(0 3px 3px 0);}
		&.per10 {width:10%;}
		&.per20 {width:20%;}
		&.per25 {width:25%;}
		&.per30 {width:30%;}
		&.per33 {width:33.3333333%;}
		&.per40 {width:40%;}
		&.per50 {width:50%;}
		&.per60 {width:60%;}
		&.per70 {width:70%;}
		&.per80 {width:80%;}
		&.per90 {width:90%;}
		
	} // .btn
	
	&.vertical .btn {
		width:100%;
		margin:0 0 1px 0;
		&:before {display:none;}
		&.first, &:first-child {@include border-radius(3px 3px 0 0);}
		&.last, &:last-child {@include border-radius(0 0 3px 3px);margin:0;}
	}
	
} // .btngrp-fluid

/////////////////////////////////////////////////////////////////////////

.plms-select {
	@include border-radius(3px);
	@include box-shadow(0 1px 3px rgba(0,0,0,0.2));
	width:100%;
	padding:12px;
	font-size:16px;
	font-size:1rem;
	&.has-error {}
	&.alt-pad {padding:6px;}
	html.no-boxshadow & {border:1px solid #e4e4e4;}
	&.skin2 {background:$lightest_grey;border:1px solid rgba(0,0,0,0.1);}
	&.is-placeholder {color:#8c8c8c;}
	
	&[disabled], &.is-disabled {
		cursor:not-allowed;
		@include opacity(0.5);
	}
	
	&[disabled]:active, 
	&[disabled]:focus, 
	&.is-disabled:active, 
	&.is-disabled:focus {background:#d8261f;}
	
}

.ui-select .ui-btn {background:#fff;}
.ui-btn-text {font-weight:normal;line-height:1.3em;}

/////////////////////////////////////////////////////////////////////////

.table-wrapper {}

.plms-horlist {
	margin-bottom:20px;
	.plms-icon {position:absolute;left:10px;top:50%;margin-top:-12px;opacity:0.15;}
	ul {margin:0;list-style:none;clear:both;}
	
	li {
		margin-bottom:-1px;
		border:1px solid #e4e4e4;
		border:1px solid rgba(0,0,0,0.1);
		background:#fff;
		position:relative;
		padding:10px;
		padding-left:24px + 10px + 10px;
		cursor:pointer;
		line-height:1.5em;
		@include transition(background, 100ms, linear);
		&:nth-child(even) {background:#efefef;}
		&:hover {opacity:0.8;}
		&.is-selected {background:$secondary_clr;color:#fff;}
		&.is-selected .plms-icon {opacity:1;}
	}
}

.input-btn-combo {
	
	width:100%;
	
	input {
		width:88%;
		float:left;
		background:#fff;
		border:1px solid rgba(0,0,0,0.1);
		transition: box-shadow 100ms, border 100ms;
		padding:10px;
		@include borderbox;
		&:active, &:focus {
			@include box-shadow(0 0 10px rgba(0,0,0,0.1));
			border:1px solid rgba(0,0,0,0.15);
		}
	}
	
	a {
		padding:11px;
		@include borderbox;
		width:10%;
		float:right;
		text-align:center;
		color:#fff;
		text-decoration:none;
		letter-spacing:1px;
		text-transform:uppercase;
		background:$primary_clr;
		@include transition(background, 250ms, ease);
		&:hover {background:lighten($primary_clr, 10%);}
	}
	
}

.columns-filter {
	margin-bottom:15px;
	width:100%;
	float:left;
}

.columns-filter-item {float:left;background:$primary_clr;padding:5px 10px;margin:0 5px 5px 0;}
.columns-filter-item label {line-height:1em;margin:0;display:inline;}
.columns-filter-item input {display:inline-block;}

.colsettings-th {
	border-left:1px solid #333;
	@include transition(background, 250ms, ease);
	position:relative;
	background:green;
}

.colsettings-th:hover {background:lighten($darkest_grey, 5%);}
// .colsettings-th:hover .colsettings-icon {background-position:-34px 0;}

.colsettings-icon {
	padding:10px;
	background-image:url("#{$image_path}1410458093_f013.svg"), none;
	background-repeat:no-repeat;
	background-position:50%;
	width:24px;
	cursor:pointer;
	height:24px;
	display:block;
}

.tooltip-sample {
	@include border-radius(0 0 5px 5px);
	@include box-shadow(0 0 20px rgba(0,0,0,0.25));
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.15);
	background:url("#{$image_path}ffffff-095.png");
	background:rgba(255,255,255,0.95);
	position:absolute;
	top:0;
	display:none;
	right:100%;
	width:300px;
	background:#fff;
	padding:20px;
	&.active {display:block;}
}

.tooltip-sample header {
	border-bottom:1px solid #e4e4e4;
	border-bottom:1px solid rgba(0,0,0,0.1);
	margin-bottom:10px;
}

.tooltip-sample label {display:inline;}
.tooltip-sample-item {clear:both;float:left;width:100%;}
.tooltip-sample .is-disabled {cursor:not-allowed;}
.tooltip-sample .is-disabled label {opacity:0.25;cursor:not-allowed;}

.tooltip-beta {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	@include border-radius(5px);
	@include box-shadow(0 0 20px rgba(0,0,0,0.25));
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.15);
	background:url("#{$image_path}ffffff-095.png");
	background:rgba(255,255,255,0.95);
	p, h6 {color:#333;}
}

/////////////////////////////////////////////////////////////////////////

// Messages, Notifications, Alerts.

.formels-feedback {
	
	$valid_clr: #719d2d;
	
	float:left;
	line-height:1.3em;
	font-size:11px;
	font-size:0.6875rem;
	// text-shadow:1px 1px 0 rgba(255,255,255,0.5);
	clear:both;
	margin:5px 0 0!important;
	width:100%;
	text-align:left;
	// display:block;
	&.valid {color:$valid_clr;}
	&.invalid {color:#d8261f;}
	&.med {font-size:16px;font-size:1rem;}
	
	#bc-modal.inverse &.valid {color:$valid_clr;}
	#bc-modal.inverse &.invalid {color:#d8261f;}
	
} // .formels-feedback

/////////////////////////////////////////////////////////////////////////

.search-box {
	
	@include border-radius(5px);
	@include box-shadow(0 0 20px rgba(0,0,0,0.1));
	@include borderbox;
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.15);
	background:#fff;
	width:100%;
	// --- //
	&.is-fixed {
		position:fixed;
		z-index:800;
		width:384px; // !! dynamic.
		left:144px; // !! dynamic.
		top:20px;
	}
	
	&.is-static {position:static;}
	// --- //
	.plms-input-group {margin-bottom:20px;float:left;width:100%;}
	.plms-fieldset {margin:-1px 0 0;}
	// label {margin:0;visibility:visible!important;opacity:1!important;}
	.plms-input {@include border-radius(0);@include box-shadow(none);}
	// .plms-fieldset:first-child .plms-input {@include border-radius(5px 5px 0 0);}
	// .plms-fieldset:last-child .plms-input {@include border-radius(0 0 5px 5px);}
	
} // .search-box

.search-box-header {
	border-bottom:1px solid #e4e4e4;
	border-bottom:1px solid rgba(0,0,0,0.15);
	padding:20px 20px 15px 20px;
	:last-child {margin:0;}
	.last-child {margin:0;}
	.h6 {margin-bottom:10px;}
	p {font-size:14px;font-size:0.875rem;}
}

.search-box-body {padding:20px;}

/////////////////////////////////////////////////////////////////////////

.plms-table {
	margin-bottom:20px;
	clear:both;
	overflow:auto;
	border:1px solid #e4e4e4;
	border:1px solid rgba(0,0,0,0.1);
}

.plms-table table {min-width:600px;}
.plms-table tr {@include transition(box-shadow, 50ms, ease);}
.plms-table .span-auto {width:0.1%;}
.plms-table .span-1 {width:6.25%;}
.plms-table .span-2 {width:12.5%;}
.plms-table .span-3 {width:18.75%;}
.plms-table .span-4 {width:25%;}
.plms-table .span-5 {width:31.25%;}
.plms-table .span-6 {width:37.5%;}
.plms-table .span-7 {width:43.75%;}
.plms-table .span-8 {width:50%;}
.plms-table .span-9 {width:56.25%;}
.plms-table .span-10 {width:62.5%;}
.plms-table .span-11 {width:68.75%;}
.plms-table .span-12 {width:75%;}
.plms-table .span-13 {width:81.25%;}
.plms-table .span-14 {width:87.5%;}
.plms-table .span-15 {width:93.75%;}
.plms-table .span-16 {width:100%;}
.plms-table .plms-icon {opacity:0.15;}
.plms-table .plms-icon.is-selected {opacity:1;}

.plms-table.selectable-list tbody tr {cursor:pointer;}
.plms-table.selectable-list tbody tr:hover {@include box-shadow(0 0 5px rgba(0,0,0,0.15));}

/////////////////////////////////////////////////////////////////////////

// width span percentage.

.ws-per-10 {width:10%;}
.ws-per-20 {width:20%;}
.ws-per-30 {width:30%;}
.ws-per-40 {width:40%;}
.ws-per-50 {width:50%;}
.ws-per-60 {width:60%;}
.ws-per-70 {width:70%;}
.ws-per-80 {width:80%;}
.ws-per-90 {width:90%;}
.ws-per-100 {width:100%;}

// !! debug mode.






