/*

	PENSIVO LMS -
	VERSION 1.0 [AI PDF REPORTS]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	
*/

/////////////////////////////////////////////////////////////////////////

@import "_reset.scss";
@import "_vars.scss";
@import "_mixins.scss";
@import "_base.scss";

/////////////////////////////////////////////////////////////////////////

$horizontal_padding: 0.5in;
$checkbox_width: 12px;
$checkbox_height: 12px;
$core_layout_horizontal_padding: 10px;
$core_layout_width: 8.5in*1.25;
$core_layout_height: 11in*1.25;

/////////////////////////////////////////////////////////////////////////

html {
	font-size:068.75%; // 11 pixels.
}

* {
	color:#000;
}

html, body {
	height:100%;
}

h1, h2, h3, h4, h5 {
	&, * {
		font-size:1.3125rem;
	}
}

#master-container {
	@include borderbox;
	padding:$core_layout_horizontal_padding;
	width:$core_layout_width;
	height:$core_layout_height;
	margin:0 auto; // dev only.
}

section {
	margin-bottom:20px;
}

#primary-main-header {
	float:left;
	width:100%;
	margin-bottom:20px;
	position:relative;
	&:after {@include clearfix;}
	table {width:30%;float:right;border:1px solid #000;}
	td {border:0;padding:10px;vertical-align:middle;}
	tr:nth-child(2) td {padding-top:0;}
	.site-number-value {
		border:1px solid #000;
		width:100%;
		display:block;
		@include borderbox;
		padding:3px 5px;
	}
	h1 {
		font-size:2rem; // 24 pixels.
		text-transform:uppercase;
		position:absolute;
		margin:0;
		bottom:0;
		left:0;
	}
	.branding {
		width:50%;
		float:left;
		img {
			margin:0 20px 0 0;
			display:block;
			float:left;
		}
	}
}

.push-up {margin-top:20px;}
.push-up-10 {margin-top:10px;}
.push-down {margin-bottom:20px;}
.push-down-10 {margin-bottom:10px;}

#secondary-main-header {
	clear:both;
	* {text-transform:uppercase;}
	h6 {
		margin-bottom:10px;
		background:#c0c0c0;
		padding:2px 10px;
		font-style:italic;
	}
}

.section-main-header {
	margin-bottom:10px;
	* {
		text-transform:uppercase;
	}
	em {
		text-decoration:underline;
		font-style:normal;
	}
	:last-child {
		margin:0;
	}
}

.section-title {
	margin-bottom:5px;
}

.section-body {
	width:100%;
	border:1px solid #000;
	display:table;
	@include borderbox;
}

.content-wrapper {
	display:table-cell;
	vertical-align:middle;
	height:100%;
	padding:0 5px;
}

th {
	background:#ccc;
	&.no-bg {background:0;}
	&.alternate-styling {
		text-transform:uppercase;
		text-align:center;
	}
}

#details-injury-illness {
	
	&:after {@include clearfix;}
	
	.tables-container {
		&:after {@include clearfix;}
	}
	.table-wrapper {
		border:1px solid #000;
		width:49%;
		float:left;
		&.table-2 {float:right;}
	}
	table {}
	td {border:0;}
	
	.contents-a {
		border-right:4px solid #000;
		width:60%;
	}
	
	.contents-b {
		width:40%;
	}
	
	.field-item {
		clear:both;
		&:after {@include clearfix;}
	}
	
	.field-values {
		float:right;
	}
	
	.field-title,
	.field-values li {
		float:left;
		margin-bottom:0;
	}
	
	.field-values li {
		margin-left:10px;
		padding-right:$checkbox_width + 5px;
		position:relative;
		background:red;
	}
	
	.field-values {
		margin:0;
		list-style:none;
	}
	
	.ii-item {
		padding:3px 0;
		position:relative;
	}
	
	.group-a, .group-b {
		float:left;
		width:48%;
	}
	
	.group-b {float:right;}
	
} // #details-injury-illness

#general-information {
	
	.content-wrapper {
		padding:0;
		display:block;
		float:left;
		@include borderbox;
	}
	
	.contents-a {
		border-right:4px solid #000;
		width:50%;
	}
	
	.contents-b {
		width:50%;
	}
	
	.field-item-wrapper {
		&:after {@include clearfix;}
		border-bottom:1px solid #000;
	}
	
	.field-item-wrapper + .field-item {
		border:0;
		background:red;
		* {color:red;}
	}
	
	.field-item {
		border-bottom:1px solid #000;
	}
	
} // #general-information

.pull-up {margin-top:-20px;}
.pull-up-10 {margin-top:-10px;}

#return-to-work {
	table:nth-child(2) {margin-bottom:20px;}
	.options-group {
		&:after {@include clearfix;}
		.checkbox-parent-container {
			float:left;
			width:33.3333333%;
			@include borderbox;
		}
	}
}

.bg-clr, .instructional-message {
	background:#ccc;
	em {
		text-transform:uppercase;
		font-style:normal;
	}
}

.big-border-bottom {
	border-bottom:4px solid #000;
}

.big-border-right {
	border-right:4px solid #000;
}

.big-border-left {
	border-left:4px solid #000;
}

table {
	width:100%;
}

td, th {
	text-align:left;
	vertical-align:top;
	padding:3px 5px;
	border:1px solid #000;
	&, * {line-height:1.5em;}
}

.table-parent {padding:0;}
td td {border:0;}
.border-left {border-left:1px solid #000;}

#corrective-actions-prevention {
	td td:nth-child(1) {width:90%;}
	td td:nth-child(2) {width:5%;}
	td td:nth-child(3) {width:5%;}
	.safe-work-practices {
		td:nth-child(1) {width:33.3333333%;}
		td:nth-child(2) {width:33.3333333%;}
		td:nth-child(3) {width:33.3333333%;}
		.checkbox-parent-container {
			padding-left:$checkbox_width + 5px;
			.air-checkbox {right:auto;left:0;}
		}
	}
}

.consent {
	border:1px solid #000;
	td {border-left:0;border-right:0;}
	.field-title {display:block;margin-bottom:40px;}
}

#witnesses-co-workers {
	
}

#contributing-factors-conditions {
	td td:nth-child(1) {width:25%;}
	td td:nth-child(2) {width:25%;}
	td td:nth-child(3) {width:25%;}
	td td:nth-child(4) {width:25%;}
	.checkbox-parent-container {
		padding-left:$checkbox_width + 5px;
		.air-checkbox {right:auto;left:0;}
	}
}

#personal-protective-equipment {
	// td td:nth-child(1) {width:50%;}
	// td td:nth-child(2) {width:50%;}
	.checkbox-parent-container {
		padding-left:$checkbox_width + 5px;
		.air-checkbox {right:auto;left:0;}
	}
}

#description-accident-incident {
	table {
		margin-bottom:20px;
		table {margin:0;}
	}
	.column-span-4 {
		padding-right:20px;
	}
	.checkbox-parent-container {
		padding-left:$checkbox_width + 5px;
		.air-checkbox {right:auto;left:0;}
	}
}

#description-injury-illness {
	.table-parent {
		// border-top:0;
		// border-bottom:0;
	}
	table {
		float:left;
		margin-left:-1px;
		&:first-of-type {margin-left:0;}
	}
	.body-parts {
		width:40%;
		td td:nth-child(1) {width:50%;border-right:1px solid #000;}
		td td:nth-child(2) {width:25%;}
		td td:nth-child(3) {width:25%;}
	}
	.cause-of-injury {
		width:30%;
	}
	.nature-of-injury {
		width:30%;
	}
	.checkbox-parent-container {
		padding-left:$checkbox_width + 5px;
		.air-checkbox {right:auto;left:0;}
	}
}

.format,
.field-description {
	font-size:9px;
}

.field-details {
	display:block;
}

#general-information {
	.table-parent {padding:0;border:0;}
	td td {border:1px solid #000;}
	.value {font-style:normal;}
}

#logistics {
	// b {display:block;}
}

#details-accident-incident {
	td tr:first-child td {
		border-bottom:1px solid #000;
	}
}

.checkbox-parent-container {
	position:relative;
	&:after {@include clearfix;}
	&.icon-left-align {
		padding-left:$checkbox_width + 5px;
		.air-checkbox {right:auto;left:0;}
	}
}

.air-checkbox {
	display:block;
	width:$checkbox_width;
	height:$checkbox_height;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-$checkbox_height/2;
	background-size:100%;
	background-image:url("#{$image_path}square-cut-checkbox-off.png");
	&.is-on {background-image:url("#{$image_path}square-cut-checkbox-on.png");}
}

/*
// !! deprecated, does not render well in pdf output >
.checkbox-wrapper {
	position:absolute;
	right:0;
	top:50%;
	margin-top:-$checkbox_height/2;
	background:#fff;
	border:1px solid #000;
	width:$checkbox_width;
	height:$checkbox_height;
	display:block;
	padding:1px;
	@include borderbox;
	.checkbox.is-on {
		background:#000;
		display:block;
		width:100%;
		height:100%;
		@include borderbox;
	}
}
*/

@mixin colsCore {	
	float:left;
	@include borderbox;
}
	
.column-span-1, .column-span-2,
.column-span-3, .column-span-4,
.column-span-5, .column-span-6,
.column-span-7, .column-span-8,
.column-span-9, .column-span-10,
.column-span-11, .column-span-12 {
	@include colsCore;
}

.column-span-1 {width:008.3333333%;} // 1 / 12
.column-span-2 {width:016.666667%;} // 2 / 12
.column-span-3 {width:25%;}
.column-span-4 {width:033.333333%;}
.column-span-5 {width:041.666667%;}
.column-span-6 {width:50%;}
.column-span-7 {width:058.333333%;}
.column-span-8 {width:066.666667%;}
.column-span-9 {width:75%;}
.column-span-10 {width:083.333333%;}
.column-span-11 {width:091.666667%;}
.column-span-12 {width:100%;} // !! shouldn't be using a column class in this case.

.page-footer {
	&:after {@include clearfix;}
	width:$core_layout_width;
	margin:0 auto;
	@include borderbox;
	border-top:1px solid #000;
	padding:5px $core_layout_horizontal_padding;
	span {
		font-weight:bold;
		font-style:italic;
		width:33.3333333%;
		display:block;
		float:left;
		&.report-name {text-align:center;}
		&.page-num {text-align:right;}
	}
}

// workplace violence & harrassment specifics.

.wvh #primary-main-header {
	h1 {
		max-width:45%;
		position:static;
	}
	.branding {
		position:absolute;
		right:0;
		top:0;
		img {
			float:right;
			margin:0 0 0 20px;
		}
	}
}

h2, h3, h4, h5, h6 {
	text-transform:uppercase;
}

#alleged-offenders {
	.body {
		padding:20px;
		border:1px solid #000;
		width:100%;
		@include borderbox;
		&:after {@include clearfix;}
	}
	.contents-a, .contents-b {
		@include borderbox;
		float:left;
	}
	.fieldset-group {
		width:100%;
		clear:both;
		&:after {@include clearfix;}
	}
	.checkbox-parent-container {margin-bottom:5px;}
	strong.field-title {text-transform:uppercase;}
	.bottom-border {border-bottom:1px solid #000;}
	.field-title.bottom-border {border-color:transparent;}
	.contents-a {width:60%;}
	.contents-b {width:30%;float:right;}
}

.textarea {
	padding:10px;
	border:1px solid #000;
	display:block;
	&.nude {border:0;padding:0;}
	&.size-micro {height:40px;}
	&.size-small {height:60px;}
	&.size-medium {height:80px;}
	&.size-large {height:100px;}
	&.size-grand {height:120px;}
}



