/*

	PENSIVO LMS -
	VERSION 1.0 [AI PDF REPORTS]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .plms-select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

i {
  font-style: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

html.font-size-s {
  font-size: 90%; }
html.font-size-m {
  font-size: 100%; }
html.font-size-l {
  font-size: 110%; }

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Arial, Helvetica;
  line-height: 1.75em; }

code {
  clear: both;
  background: #002b36;
  padding: 5px;
  color: #fff;
  font-family: Courier; }

.has-error {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(218, 62, 39, 0.75);
  border: 1px solid #fd0011;
  border: 1px solid rgba(253, 0, 17, 0.5);
  background: #fff2f3; }

abbr {
  cursor: help;
  border-bottom: 0; }

#top {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  width: 0; }

.wrapper {
  position: relative; }

.wrapper:after {
  clear: both;
  content: "";
  display: block; }

dt {
  font-weight: bold; }

b {
  font-weight: normal; }

a {
  outline: 0; }

a:active {
  background-color: transparent; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

p > a {
  color: #0493f4; }

.left {
  float: left; }

.hero {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #555; }

p > a:hover {
  color: #7c7c7c;
  text-decoration: none; }

.clr1 {
  color: #d65f2d; }

.clr2 {
  color: #ed9410; }

.clearfix {
  clear: both;
  content: "";
  display: block; }

.highlighter {
  padding: 0 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px; }
  .highlighter.primary {
    background: #fbf1ed;
    color: #d65f2d; }
  .highlighter.secondary {
    background: #fdf4e5;
    color: #ed9410; }

p, h1, h2, h3, h4, h5, h6, ul, ol, .basemargin, code {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5 {
  line-height: 1.25em; }

h1, .h1 {
  font-size: 48px;
  font-size: 3rem; }

h2, .h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3, .h3 {
  font-size: 32px;
  font-size: 2rem; }

h4, .h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 21px;
  font-size: 1.3125rem; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ul, ol ul {
  list-style-type: circle;
  margin-left: 15px;
  margin-top: 7px; }

ol ul {
  margin-left: 20px; }

.plms-table table {
  width: 100%; }
.plms-table th {
  text-align: left;
  background: #404040;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase; }
.plms-table th, .plms-table td {
  padding: 10px;
  vertical-align: middle;
  line-height: 1.25em; }
.plms-table tr {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.plms-table tr:last-child {
  border: 0; }
.plms-table tr:nth-child(odd) td {
  background: #efefef; }
.plms-table tr.is-selected td {
  background: #ed9410 !important;
  color: #fff; }

ol ol {
  list-style-type: lower-latin;
  margin-left: 20px;
  margin-top: 7px; }

li {
  margin-bottom: 7px; }

li:last-child {
  margin-bottom: 0; }

ul, ol {
  list-style-position: inside; }

.specs {
  display: none; }

::-webkit-input-placeholder {
  color: #939393; }

:-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 18- */
::-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #939393; }

@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 36px;
    font-size: 2.25rem; }

  h2, .h2 {
    font-size: 32px;
    font-size: 2rem; }

  h3, .h3 {
    font-size: 24px;
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h5, .h5 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 500px) {
  h1, .h1 {
    font-size: 32px;
    font-size: 2rem; }

  h2, .h2 {
    font-size: 24px;
    font-size: 1.5rem; }

  h3, .h3 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h4, .h4 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 400px) {
  .hero {
    font-size: 18px;
    font-size: 1.125rem; }

  h1, .h1 {
    font-size: 24px;
    font-size: 1.5rem; }

  h2, .h2 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h3, .h3 {
    font-size: 16px;
    font-size: 1rem; } }
html {
  font-size: 068.75%; }

* {
  color: #000; }

html, body {
  height: 100%; }

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 * {
  font-size: 1.3125rem; }

#master-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 10.625in;
  height: 13.75in;
  margin: 0 auto; }

section {
  margin-bottom: 20px; }

#primary-main-header {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  position: relative; }
  #primary-main-header:after {
    clear: both;
    content: "";
    display: block; }
  #primary-main-header table {
    width: 30%;
    float: right;
    border: 1px solid #000; }
  #primary-main-header td {
    border: 0;
    padding: 10px;
    vertical-align: middle; }
  #primary-main-header tr:nth-child(2) td {
    padding-top: 0; }
  #primary-main-header .site-number-value {
    border: 1px solid #000;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 5px; }
  #primary-main-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0; }
  #primary-main-header .branding {
    width: 50%;
    float: left; }
    #primary-main-header .branding img {
      margin: 0 20px 0 0;
      display: block;
      float: left; }

.push-up {
  margin-top: 20px; }

.push-up-10 {
  margin-top: 10px; }

.push-down {
  margin-bottom: 20px; }

.push-down-10 {
  margin-bottom: 10px; }

#secondary-main-header {
  clear: both; }
  #secondary-main-header * {
    text-transform: uppercase; }
  #secondary-main-header h6 {
    margin-bottom: 10px;
    background: #c0c0c0;
    padding: 2px 10px;
    font-style: italic; }

.section-main-header {
  margin-bottom: 10px; }
  .section-main-header * {
    text-transform: uppercase; }
  .section-main-header em {
    text-decoration: underline;
    font-style: normal; }
  .section-main-header :last-child {
    margin: 0; }

.section-title {
  margin-bottom: 5px; }

.section-body {
  width: 100%;
  border: 1px solid #000;
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0 5px; }

th {
  background: #ccc; }
  th.no-bg {
    background: 0; }
  th.alternate-styling {
    text-transform: uppercase;
    text-align: center; }

#details-injury-illness:after {
  clear: both;
  content: "";
  display: block; }
#details-injury-illness .tables-container:after {
  clear: both;
  content: "";
  display: block; }
#details-injury-illness .table-wrapper {
  border: 1px solid #000;
  width: 49%;
  float: left; }
  #details-injury-illness .table-wrapper.table-2 {
    float: right; }
#details-injury-illness td {
  border: 0; }
#details-injury-illness .contents-a {
  border-right: 4px solid #000;
  width: 60%; }
#details-injury-illness .contents-b {
  width: 40%; }
#details-injury-illness .field-item {
  clear: both; }
  #details-injury-illness .field-item:after {
    clear: both;
    content: "";
    display: block; }
#details-injury-illness .field-values {
  float: right; }
#details-injury-illness .field-title,
#details-injury-illness .field-values li {
  float: left;
  margin-bottom: 0; }
#details-injury-illness .field-values li {
  margin-left: 10px;
  padding-right: 17px;
  position: relative;
  background: red; }
#details-injury-illness .field-values {
  margin: 0;
  list-style: none; }
#details-injury-illness .ii-item {
  padding: 3px 0;
  position: relative; }
#details-injury-illness .group-a, #details-injury-illness .group-b {
  float: left;
  width: 48%; }
#details-injury-illness .group-b {
  float: right; }

#general-information .content-wrapper {
  padding: 0;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#general-information .contents-a {
  border-right: 4px solid #000;
  width: 50%; }
#general-information .contents-b {
  width: 50%; }
#general-information .field-item-wrapper {
  border-bottom: 1px solid #000; }
  #general-information .field-item-wrapper:after {
    clear: both;
    content: "";
    display: block; }
#general-information .field-item-wrapper + .field-item {
  border: 0;
  background: red; }
  #general-information .field-item-wrapper + .field-item * {
    color: red; }
#general-information .field-item {
  border-bottom: 1px solid #000; }

.pull-up {
  margin-top: -20px; }

.pull-up-10 {
  margin-top: -10px; }

#return-to-work table:nth-child(2) {
  margin-bottom: 20px; }
#return-to-work .options-group:after {
  clear: both;
  content: "";
  display: block; }
#return-to-work .options-group .checkbox-parent-container {
  float: left;
  width: 33.3333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bg-clr, .instructional-message {
  background: #ccc; }
  .bg-clr em, .instructional-message em {
    text-transform: uppercase;
    font-style: normal; }

.big-border-bottom {
  border-bottom: 4px solid #000; }

.big-border-right {
  border-right: 4px solid #000; }

.big-border-left {
  border-left: 4px solid #000; }

table {
  width: 100%; }

td, th {
  text-align: left;
  vertical-align: top;
  padding: 3px 5px;
  border: 1px solid #000; }
  td, td *, th, th * {
    line-height: 1.5em; }

.table-parent {
  padding: 0; }

td td {
  border: 0; }

.border-left {
  border-left: 1px solid #000; }

#corrective-actions-prevention td td:nth-child(1) {
  width: 90%; }
#corrective-actions-prevention td td:nth-child(2) {
  width: 5%; }
#corrective-actions-prevention td td:nth-child(3) {
  width: 5%; }
#corrective-actions-prevention .safe-work-practices td:nth-child(1) {
  width: 33.3333333%; }
#corrective-actions-prevention .safe-work-practices td:nth-child(2) {
  width: 33.3333333%; }
#corrective-actions-prevention .safe-work-practices td:nth-child(3) {
  width: 33.3333333%; }
#corrective-actions-prevention .safe-work-practices .checkbox-parent-container {
  padding-left: 17px; }
  #corrective-actions-prevention .safe-work-practices .checkbox-parent-container .air-checkbox {
    right: auto;
    left: 0; }

.consent {
  border: 1px solid #000; }
  .consent td {
    border-left: 0;
    border-right: 0; }
  .consent .field-title {
    display: block;
    margin-bottom: 40px; }

#contributing-factors-conditions td td:nth-child(1) {
  width: 25%; }
#contributing-factors-conditions td td:nth-child(2) {
  width: 25%; }
#contributing-factors-conditions td td:nth-child(3) {
  width: 25%; }
#contributing-factors-conditions td td:nth-child(4) {
  width: 25%; }
#contributing-factors-conditions .checkbox-parent-container {
  padding-left: 17px; }
  #contributing-factors-conditions .checkbox-parent-container .air-checkbox {
    right: auto;
    left: 0; }

#personal-protective-equipment .checkbox-parent-container {
  padding-left: 17px; }
  #personal-protective-equipment .checkbox-parent-container .air-checkbox {
    right: auto;
    left: 0; }

#description-accident-incident table {
  margin-bottom: 20px; }
  #description-accident-incident table table {
    margin: 0; }
#description-accident-incident .column-span-4 {
  padding-right: 20px; }
#description-accident-incident .checkbox-parent-container {
  padding-left: 17px; }
  #description-accident-incident .checkbox-parent-container .air-checkbox {
    right: auto;
    left: 0; }

#description-injury-illness table {
  float: left;
  margin-left: -1px; }
  #description-injury-illness table:first-of-type {
    margin-left: 0; }
#description-injury-illness .body-parts {
  width: 40%; }
  #description-injury-illness .body-parts td td:nth-child(1) {
    width: 50%;
    border-right: 1px solid #000; }
  #description-injury-illness .body-parts td td:nth-child(2) {
    width: 25%; }
  #description-injury-illness .body-parts td td:nth-child(3) {
    width: 25%; }
#description-injury-illness .cause-of-injury {
  width: 30%; }
#description-injury-illness .nature-of-injury {
  width: 30%; }
#description-injury-illness .checkbox-parent-container {
  padding-left: 17px; }
  #description-injury-illness .checkbox-parent-container .air-checkbox {
    right: auto;
    left: 0; }

.format,
.field-description {
  font-size: 9px; }

.field-details {
  display: block; }

#general-information .table-parent {
  padding: 0;
  border: 0; }
#general-information td td {
  border: 1px solid #000; }
#general-information .value {
  font-style: normal; }

#details-accident-incident td tr:first-child td {
  border-bottom: 1px solid #000; }

.checkbox-parent-container {
  position: relative; }
  .checkbox-parent-container:after {
    clear: both;
    content: "";
    display: block; }
  .checkbox-parent-container.icon-left-align {
    padding-left: 17px; }
    .checkbox-parent-container.icon-left-align .air-checkbox {
      right: auto;
      left: 0; }

.air-checkbox {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  background-size: 100%;
  background-image: url("/plms/v29/_images/square-cut-checkbox-off.png"); }
  .air-checkbox.is-on {
    background-image: url("/plms/v29/_images/square-cut-checkbox-on.png"); }

/*
// !! deprecated, does not render well in pdf output >
.checkbox-wrapper {
	position:absolute;
	right:0;
	top:50%;
	margin-top:-$checkbox_height/2;
	background:#fff;
	border:1px solid #000;
	width:$checkbox_width;
	height:$checkbox_height;
	display:block;
	padding:1px;
	@include borderbox;
	.checkbox.is-on {
		background:#000;
		display:block;
		width:100%;
		height:100%;
		@include borderbox;
	}
}
*/
.column-span-1, .column-span-2,
.column-span-3, .column-span-4,
.column-span-5, .column-span-6,
.column-span-7, .column-span-8,
.column-span-9, .column-span-10,
.column-span-11, .column-span-12 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.column-span-1 {
  width: 008.3333333%; }

.column-span-2 {
  width: 016.666667%; }

.column-span-3 {
  width: 25%; }

.column-span-4 {
  width: 033.333333%; }

.column-span-5 {
  width: 041.666667%; }

.column-span-6 {
  width: 50%; }

.column-span-7 {
  width: 058.333333%; }

.column-span-8 {
  width: 066.666667%; }

.column-span-9 {
  width: 75%; }

.column-span-10 {
  width: 083.333333%; }

.column-span-11 {
  width: 091.666667%; }

.column-span-12 {
  width: 100%; }

.page-footer {
  width: 10.625in;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #000;
  padding: 5px 10px; }
  .page-footer:after {
    clear: both;
    content: "";
    display: block; }
  .page-footer span {
    font-weight: bold;
    font-style: italic;
    width: 33.3333333%;
    display: block;
    float: left; }
    .page-footer span.report-name {
      text-align: center; }
    .page-footer span.page-num {
      text-align: right; }

.wvh #primary-main-header h1 {
  max-width: 45%;
  position: static; }
.wvh #primary-main-header .branding {
  position: absolute;
  right: 0;
  top: 0; }
  .wvh #primary-main-header .branding img {
    float: right;
    margin: 0 0 0 20px; }

h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

#alleged-offenders .body {
  padding: 20px;
  border: 1px solid #000;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #alleged-offenders .body:after {
    clear: both;
    content: "";
    display: block; }
#alleged-offenders .contents-a, #alleged-offenders .contents-b {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left; }
#alleged-offenders .fieldset-group {
  width: 100%;
  clear: both; }
  #alleged-offenders .fieldset-group:after {
    clear: both;
    content: "";
    display: block; }
#alleged-offenders .checkbox-parent-container {
  margin-bottom: 5px; }
#alleged-offenders strong.field-title {
  text-transform: uppercase; }
#alleged-offenders .bottom-border {
  border-bottom: 1px solid #000; }
#alleged-offenders .field-title.bottom-border {
  border-color: transparent; }
#alleged-offenders .contents-a {
  width: 60%; }
#alleged-offenders .contents-b {
  width: 30%;
  float: right; }

.textarea {
  padding: 10px;
  border: 1px solid #000;
  display: block; }
  .textarea.nude {
    border: 0;
    padding: 0; }
  .textarea.size-micro {
    height: 40px; }
  .textarea.size-small {
    height: 60px; }
  .textarea.size-medium {
    height: 80px; }
  .textarea.size-large {
    height: 100px; }
  .textarea.size-grand {
    height: 120px; }
