/*

	PENSIVO LMS -
	VERSION 2.0 [AI REPORTS]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	122080215
	
*/

/////////////////////////////////////////////////////////////////////////

@import "_reset.scss";
@import "_vars.scss";
// $image_path: "";
@import "_mixins.scss";
@import "_base.scss";
@import "_layout.scss";
@import "_module.scss";

/////////////////////////////////////////////////////////////////////////

.plms-fieldset.email-address {
	// margin-top:-10px;
}

.boxed-content {
	margin-bottom:20px;
	p, ul, .plms-alert, .boxed-content, .plms-table {
		&:last-child {margin-bottom:0;}
	}
}

.plms-fieldset {position:relative;}

.plms-fieldset-wrapper {
	clear:both;
	float:left;
	width:100%;
	position:relative;
	margin-bottom:20px;
	&:last-child {margin-bottom:0;}
}

.label-checkbox-group,
.plms-fieldset-wrapper {
	@include borderbox;
	// @include border-radius(5px);
	&.has-error {padding:10px;}
}

.pagination-nav {
	border-top:1px solid rgba(0,0,0,0.1);
	float:left;
	width:100%;
	clear:both;
	margin-top:30px;
	padding-top:30px;
}

#main-content {
	background-image:url("../_images/sample-work-place-safety.jpg");
	background-position:50%;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	.mask {
		position:absolute;
		width:100%;
		height:100%;
		background:transparentize($dark_grey, 0.15);
		top:0;
		left:0;
	}
}

.field-details {
	font-size:0.6875rem;
}

.req-icon {
	color:#da2720!important;
	cursor:help;
	font-family:Lucida, Georgia;
	font-size:24px;
	position:absolute;
	font-weight:bold;
	line-height:1em;
	display:block;
	left:-17px;
	top:0;
}

.flyout-message-wrapper {
	position:relative;
	float:left;
	p {
		margin-top:9px;
		background:#fff;
		@include transition(opacity, 250ms, ease);
		@include box-shadow(0 0 10px rgba(0,0,0,0.3));
		padding:10px;
		font-size:12px;
		font-size:0.75rem;
		width:160px;
		z-index:2;
		position:absolute;
		top:100%;
		right:0;
		opacity:0;
		&.is-active {opacity:1;}
	}
	.tooltip-arrow-icon { // !! will need to add this to sprite and replace w/ .svg
		background:url("#{$image_path}chevron-up-w-shadow.png");
		display:block;
		height:10px;
		position:absolute;
		right:10px;
		top:-10px;
		width:20px;
	}
}

.aside-toggle-handle {
	background:$light_grey;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding:10px;
	position:relative;
	&:after {@include clearfix;}
	span {color:#fff;}
	.icon {
		position:absolute;
		top:50%;
		left:-23px; // icon width + padding + left border.
		cursor:pointer;
		background:url("#{$image_path}aside-icon-toggle-handle.png");
		background-position:top right;
		margin:-16px 0 0 0;
		display:block;
		width:12px;
		height:32px;
	}
}

.mandatory-fields-message {
	position:relative;
	padding-left:20px;
	.req-icon {left:0;}
}

.layout-sidebar-right {
	
	$content_width:65%;
	$border_radius: 5px;
	
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
	overflow:hidden;
	@include border-radius($border_radius);
	
	.boxed-content {
		@include transition(width, 250ms, ease);
		@include border-radius($border_radius 0 0 $border_radius);
		width:$content_width;
		border-right:0;
		min-height:800px;
		float:left;
		margin-bottom:0;
	}
	
	#main-aside {
		@include transition(left, 250ms, ease);
		width:100% - $content_width;
		height:100%;
		float:left;
		background:$darkest_grey;
		position:absolute;
		left:$content_width;
	}
	
	&.slim {
		.boxed-content {width:80%;}
		#main-aside {left:80%;}
		.aside-toggle-handle i {background-position:top left;}
	}
	
	.aside-main-nav {
		ul {list-style:none;margin:0;}
		li {margin:0;}
		a {
			padding:20px;
			@include borderbox;
			display:block;
			line-height:1.25em;
			@include transition(background, 250ms, ease);
			background:$light_grey;
			border-bottom:1px solid rgba(0,0,0,0.1);
			&:hover {
				background:lighten($light_grey, 5%);
				text-decoration:none;
			}
		}
		.is-active a {
			text-decoration:none;
			background:$secondary_clr;
			color:#fff;
		}
	}
	
}

.scheduled-shifts {
	caption {display:none;}
	label {display:none;}
	html.no-placeholder & label {display:block;}
	th {width:30%;text-align:right;padding:10px 20px;}
}

.margin-reset {margin:0;}
.fieldset-group {clear:both;}
.bold {font-weight:bold;}
.pull-up {margin-top:-20px;}
.pull-up-10 {margin-top:-10px;}
.push-up {margin-top:20px;}
.push-up-10 {margin-top:10px;}
.push-down {margin-bottom:20px;}
.push-down-10 {margin-bottom:10px;}
.boxed-content-body:after {@include clearfix;}
.plms-table table {min-width:auto;}
.small-text {font-size:12px;}

.boxed-content-header {
	border-bottom:1px solid #e5e5e5;
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding-bottom:25px;
	margin-bottom:20px;
	h6:last-child {margin:0;}
}

.label-checkbox-group {
	&:after {@include clearfix;}
	input[type="checkbox"] {
		margin:0 10px 0 0;
	}
	label {
		cursor:pointer;
		font-size:14px;
		font-size:0.875rem;
		padding:5px 10px;
		background:rgba(0,0,0,0.075);
		margin:0 10px 10px 0;
		float:left;
		&:active, &:focus {
			background:$secondary_clr;
			color:#fff;
		}
	}
}

.column p {line-height:1.5em;}

// page / section specifics.

.pg-completed-ais {
	.pagination-nav {margin:0;border:0;}	
}

.pg-dashboard {
	h1 {color:#fff;}
}

.pg-affected-employee {
	.plms-fieldset.first-child {margin-top:-10px;}
	.form-fields {padding-right:40px;}
	.search-button {
		clear:both;
		margin-top:20px;
		float:left;
		width:100%;
	}
}

.pg-location {
	.input-button-group {margin-top:-20px;}
	
	.label-radio-group {
		input[type="radio"] {margin-right:10px;}
		label {font-size:1rem;float:left;margin-right:10px;}
	}
	
	.location-type {
		float:left;
		width:100%;
		margin-top:20px;
		p {font-weight:bold;}
	}
}

// breaking points.

@media screen and (max-width:700px) {
	.layout-sidebar-right {
		&.slim {
			.boxed-content {width:75%;}
			#main-aside {left:75%;}
		}
	}
	
	.scheduled-shifts * {font-size:12px;}
	
	#main-aside nav a {
		font-size:12px;
		padding:15px;
		line-height:1.5em;
	}
	
	.plms-table.completed-ais {
		th, td {font-size:12px;}
	}
}

@media screen and (max-width:600px) {
	#main-aside {display:none;}
	.layout-sidebar-right .boxed-content {width:100%!important;}
}












