/*

	PENSIVO LMS -
	VERSION 2.0 [CERTIFICATES]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	
*/

/////////////////////////////////////////////////////////////////////////

@import "_reset.scss";
@import "_vars.scss";
@import "_mixins.scss";
@import "_base.scss";

/////////////////////////////////////////////////////////////////////////

$horizontal_padding: 0.5in;

/////////////////////////////////////////////////////////////////////////

html, body {height:100%;}

#main-header {
	position:relative;
	background:$dark_grey;
	height:100px;
}

h1 {font-size:36px;}

h2, h3 {
	&, * {
		font-size:24px;
		font-weight:normal;
		color:#555;
	}
}

a {color:$anchor_clr;}

.main-logo {
	position:absolute;
	top:50%;
	margin-top:-18px;
	right:$horizontal_padding;
	height:36px;
	display:block;
} // .main-logo

#master-container {
	width:11in*1.25;
	height:8.5in*1.25;
	// height:100%;
	border:3px solid $dark_grey;
	border-top:0;
	position:relative;
	@include borderbox;
	// margin:20px auto;
	background-position:50% 45%;
	background-repeat:no-repeat;
	background-image:url("#{$image_path}tbs-emblem.png");
	background-image:url("#{$image_path}tbs-emblem.svg"), none;
}

.main-content-header {
	text-align:center;
	margin:40px 0;
}

.main-content-body {
	text-transform:uppercase;
	padding:0 $horizontal_padding 1in $horizontal_padding;
	:last-child {margin:0;}
	.contents-a {float:left;width:45%;}
	.contents-b {float:right;width:45%;}
}

#main-footer {
	@include borderbox;
	padding:0 $horizontal_padding 1in $horizontal_padding;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	.contents-a {float:left;width:30%;}
	.contents-b {float:right;width:30%;}
}

.signature {
	border-top:1px solid #000;
	width:100%;
	display:block;
	padding-top:5px;
	margin:0 0 0.25in 0;
}

.completion-date,
.client-name {
	font-weight:bold;
}

.sticker {
	$sticker_width: 166px;
	$sticker_height: 166px;
	position:absolute;
	width:$sticker_width;
	height:$sticker_height;
	background:url("#{$image_path}certificate-sticker.png");
	background:url("#{$image_path}certificate-sticker.svg"), none;
	display:block;
	left:50%;
	top:0;
	margin-left:-$sticker_width/2;
}

.certificate-num {
	position:absolute;
	bottom:0.25in;
	right:$horizontal_padding;
	color:#555;
}









