/*

	PENSIVO LMS -
	VERSION 2.0 [CERTIFICATES]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .plms-select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

i {
  font-style: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

html.font-size-s {
  font-size: 90%; }
html.font-size-m {
  font-size: 100%; }
html.font-size-l {
  font-size: 110%; }

* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Helvetica Neue", Arial, Helvetica;
  line-height: 1.75em; }

code {
  clear: both;
  background: #002b36;
  padding: 5px;
  color: #fff;
  font-family: Courier; }

.has-error {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 6px rgba(218, 62, 39, 0.75);
  border: 1px solid #fd0011;
  border: 1px solid rgba(253, 0, 17, 0.5);
  background: #fff2f3; }

abbr {
  cursor: help;
  border-bottom: 0; }

#top {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  width: 0; }

.wrapper {
  position: relative; }

.wrapper:after {
  clear: both;
  content: "";
  display: block; }

dt {
  font-weight: bold; }

b {
  font-weight: normal; }

a {
  outline: 0; }

a:active {
  background-color: transparent; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

p > a {
  color: #0493f4; }

.left {
  float: left; }

.hero {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #555; }

p > a:hover {
  color: #7c7c7c;
  text-decoration: none; }

.clr1 {
  color: #d65f2d; }

.clr2 {
  color: #ed9410; }

.clearfix {
  clear: both;
  content: "";
  display: block; }

.highlighter {
  padding: 0 2px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px; }
  .highlighter.primary {
    background: #fbf1ed;
    color: #d65f2d; }
  .highlighter.secondary {
    background: #fdf4e5;
    color: #ed9410; }

p, h1, h2, h3, h4, h5, h6, ul, ol, .basemargin, code {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5 {
  line-height: 1.25em; }

h1, .h1 {
  font-size: 48px;
  font-size: 3rem; }

h2, .h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3, .h3 {
  font-size: 32px;
  font-size: 2rem; }

h4, .h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 21px;
  font-size: 1.3125rem; }

h6, .h6 {
  font-size: 16px;
  font-size: 1rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ul, ol ul {
  list-style-type: circle;
  margin-left: 15px;
  margin-top: 7px; }

ol ul {
  margin-left: 20px; }

.plms-table table {
  width: 100%; }
.plms-table th {
  text-align: left;
  background: #404040;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase; }
.plms-table th, .plms-table td {
  padding: 10px;
  vertical-align: middle;
  line-height: 1.25em; }
.plms-table tr {
  border-bottom: 1px solid #e4e4e4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.plms-table tr:last-child {
  border: 0; }
.plms-table tr:nth-child(odd) td {
  background: #efefef; }
.plms-table tr.is-selected td {
  background: #ed9410 !important;
  color: #fff; }

ol ol {
  list-style-type: lower-latin;
  margin-left: 20px;
  margin-top: 7px; }

li {
  margin-bottom: 7px; }

li:last-child {
  margin-bottom: 0; }

ul, ol {
  list-style-position: inside; }

.specs {
  display: none; }

::-webkit-input-placeholder {
  color: #939393; }

:-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 18- */
::-moz-placeholder {
  color: #939393;
  opacity: 1; }

/* Firefox 19+ */
:-ms-input-placeholder {
  color: #939393; }

@media screen and (max-width: 600px) {
  h1, .h1 {
    font-size: 36px;
    font-size: 2.25rem; }

  h2, .h2 {
    font-size: 32px;
    font-size: 2rem; }

  h3, .h3 {
    font-size: 24px;
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h5, .h5 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 500px) {
  h1, .h1 {
    font-size: 32px;
    font-size: 2rem; }

  h2, .h2 {
    font-size: 24px;
    font-size: 1.5rem; }

  h3, .h3 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h4, .h4 {
    font-size: 16px;
    font-size: 1rem; } }
@media screen and (max-width: 400px) {
  .hero {
    font-size: 18px;
    font-size: 1.125rem; }

  h1, .h1 {
    font-size: 24px;
    font-size: 1.5rem; }

  h2, .h2 {
    font-size: 21px;
    font-size: 1.3125rem; }

  h3, .h3 {
    font-size: 16px;
    font-size: 1rem; } }
html, body {
  height: 100%; }

#main-header {
  position: relative;
  background: #717073;
  height: 100px; }

h1 {
  font-size: 36px; }

h2, h2 *, h3, h3 * {
  font-size: 24px;
  font-weight: normal;
  color: #555; }

a {
  color: #0493f4; }

.main-logo {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 0.5in;
  height: 36px;
  display: block; }

#master-container {
  width: 13.75in;
  height: 10.625in;
  border: 3px solid #717073;
  border-top: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-image: url("/plms/v29/_images/tbs-emblem.png");
  background-image: url("/plms/v29/_images/tbs-emblem.svg"), none; }

.main-content-header {
  text-align: center;
  margin: 40px 0; }

.main-content-body {
  text-transform: uppercase;
  padding: 0 0.5in 1in 0.5in; }
  .main-content-body :last-child {
    margin: 0; }
  .main-content-body .contents-a {
    float: left;
    width: 45%; }
  .main-content-body .contents-b {
    float: right;
    width: 45%; }

#main-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5in 1in 0.5in;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  #main-footer .contents-a {
    float: left;
    width: 30%; }
  #main-footer .contents-b {
    float: right;
    width: 30%; }

.signature {
  border-top: 1px solid #000;
  width: 100%;
  display: block;
  padding-top: 5px;
  margin: 0 0 0.25in 0; }

.completion-date,
.client-name {
  font-weight: bold; }

.sticker {
  position: absolute;
  width: 166px;
  height: 166px;
  background: url("/plms/v29/_images/certificate-sticker.png");
  background: url("/plms/v29/_images/certificate-sticker.svg"), none;
  display: block;
  left: 50%;
  top: 0;
  margin-left: -83px; }

.certificate-num {
  position: absolute;
  bottom: 0.25in;
  right: 0.5in;
  color: #555; }
