/*

	PENSIVO LMS -
	VERSION 2.0 [CORE]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	935020215
	
*/

/////////////////////////////////////////////////////////////////////////

@import "_reset.scss";
@import "_vars.scss";
@import "_mixins.scss";
@import "_base.scss";
@import "_layout.scss";
@import "_module.scss";
@import "_custom.scss";