.slmenu-widget{position: fixed; top: 150px;left: 0; z-index:100000; }
.slmenu-widget-title{float: left; clear: both;margin-bottom: 5px;width: 40px;background: white;width: 32px;height: 32px;cursor: pointer;}
.slmenu-widget-content{display: none; text-align:left;}
.slmenu-header-wrapper{position: absolute;float: left;border: 1px solid #BEBEBE;}
.slmenu-content-wrapper{position: relative;float:left;margin-left: 5px;width: auto;}
.slmenu-widget-content{border: 1px solid #BEBEBE;margin: 0px;padding-right: 2px}
.slmenu-content-wrapper div ul{margin: 0px;padding:0px;border: 0px;background: transparent;}
.slmenu-content-wrapper div a{padding: 10px 5px;list-style: none;border: 1px solid white;background-image: -moz-linear-gradient(top,#fafafa,#f9f9f9);text-align: left;color: #555;display: block;width: 100%;height: 100%;text-decoration: none;}
.slmenu-content-wrapper div a:hover{background-image: -moz-linear-gradient(top,#fafafa,#e8e8e8);cursor: pointer;}
.slmenu-wid1{background-image: url("../img/favourite.png");}
.slmenu-wid2{background-image: url("../img/add.png");}