﻿@charset "utf-8";
/* CSS Document */

 /*HEADER*/
#header {
	background-color: #383838;
	background-image: url(../image/bck_header.png);
	background-repeat: repeat-x;
	display: block;
	height: 120px;
	width: auto;
}

#header .inner {
	display: block;
	width: 100%;
	margin: 0 auto;
	clear: both;
	padding: 0;
	height: auto;
}

#header .inner .logo {
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	display: block;
	height: 66px;
	width: 155px;
	margin-top: 20px;
	margin-left:20px;
	float: left;
}

#header .inner .logon {
	display: block;
	float: right;
	height: 100px;
	width: 200px;
	background-image: url(../image/bck_logon.png);
	background-repeat: repeat-x;
	background-color: #515151;
	padding-top: 20px;
	margin-right:20px;
}

#header .inner .logon .texte {
	color:#FDFDFA;
	text-align:center;
	font-weight:bold;
	line-height: 150%;
}

#header .inner .logon .submit .icon {
	background-image: url(../image/bt_user_logon.png);
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 22px;
	float: right;
	margin-right: 12px;
	margin-top: 2px;
}

#header .inner .logon .submit {
	display: block;
	height: 27px;
	width: auto;
	padding-top: 20px;
}

#header .inner .logon .submit .button {
	display: block;
	height: 24px;
	float: right;
	width: 80px;
	margin-right: 12px;
}

#header .inner .logon .submit .button a{
    color:#ffffff;
}
