@charset "utf-8";
/* CSS Document */

#content .inner{ background-image:url("../image/bck_content.png"); 
                 display: block;
	width: 10px;
	margin: 0 auto;
	clear: both;
	padding: 0;
	height: auto;
                 overflow :hidden;}
				 
				 
/*CONTENT LEFT*/
#content .inner #colLeft {
	display: block;
	width: 1020px;
	float: left;
	padding:20px;
}

#content .inner #colLeft #contentTop {
	display: block;
	height:80px;
}
#content .inner #colLeft #contentBottom {
	display: block;
}

#contentTop .col1 {
	display: block;
	float: left;
	width: 50px;
}
#contentTop .col2 {
	display: block;
	float: left;
	padding-left: 12px;
}

/*CONTENT BOTTOM*/
#contentBottom .contentTableForm td{
 padding-bottom:10px;
}

#contentBottom .contentTableForm td.text{
 padding-left:40px;
 font-weight:bold;
 width:140px;
}

#contentBottom .contentTableForm td.input{
 padding-left:40px;
}

 #contentBottom .contentTableFormSub {
     border:1px solid #525252; padding:0px; margin:0px; border-spacing:0px;
     font-family: Lucida Sans;
     font-size:11px;
    }
    
   #contentBottom .contentTableFormSub td{
     padding:8px;
      border-right:1px solid #525252;
      border-top:1px solid #ffffff;
    }
    
   #contentBottom .contentTableFormSub tr th{
     padding:6px;
     background-image: url(../image/bck_SubTable.jpg); 
     color:#ffffff
    }
    
    #contentBottom .contentTableFormSub tr.alternate{
      background-color:#B9CAD3
    }
     #contentBottom .contentTableFormSub td.action{
      background-color:#D0DFE6;
      border-right:none;
      border-top:1px solid #ffffff;
    }
    
     #contentBottom .contentTableFormSub td.action a{
     color:#195A55
    }
    
    

 	#contentBottom .menuDown{ width:320px; float:left; display:block; border-right:1px solid #A4BBC6; padding:0; margin:0;}
 	#contentBottom .menuDown ul{padding:0; margin:0; margin-top:6px;}
 	/*#contentBottom .menuDown ul li{}*/
	
	#selectable .ui-selecting { background: #FDFDFB; color: #383838;}
	#selectable .ui-selected { background: #175375; color: #FDFDFB; }
	#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#selectable li { width:280px; height:25px; border:1px solid #A4BBC6; margin-bottom:12px; display:block; line-height:25px; background-image:url(../image/bt_module.jpg); background-repeat:no-repeat; font-weight:bold; padding-left:12px; }
 
 
 .pnl_module{ float:left; padding-top:6px;}
 .imageBt{ margin-right:12px}
 
 
 #contentBottom .pnl_module .contentTableForm .inputCBL LABEL{ margin-left:10px;}
 #contentBottom .pnl_module .contentTableForm .inputCBL INPUT{ margin-left:20px; padding-left:0px;}
 #contentBottom .pnl_module .contentTableForm tr .inputCBLbt{padding-left:20px;}
