/*

	PENSIVO LMS -
	VERSION 2.0 [CORE]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	935020215
	theme: 		Compliance College
	
*/

/////////////////////////////////////////////////////////////////////////

.topbar.secondary {
	padding-top:25px;
	padding-bottom:25px;
}

.main-logo {
	margin-top:-30px;
	height:60px;
} // .main-logo

.btn.selected,
.plms-alert.secondary-clr *,
.layout-sidebar-right .aside-main-nav .is-active a {
	color:$forest_green;
}








