
$asparagus_green: #799c4e;
$easter_pastel_green: #cae68a;
$forest_green: #28401a;
$royal_blue: #0493f4;
$crimson_red: #d93923;
$green_turf: #719d2d;
$light_grey: #d7d7d7;
$lightest_grey: #faf9f9;
$medium_grey: #717073;
$dark_grey: #474747;
$darkest_grey: #323232;

$primary_clr: $asparagus_green;
$secondary_clr: $easter_pastel_green;
$tertiary_clr: "";

$font_family: "Helvetica Neue", Arial, Helvetica;
$anchor_clr: $royal_blue;
$alert_soft_bg_clr: #e5e5e5;
$alert_soft_text_clr: #333;
$alert_valid_bg_clr: $green_turf;
$alert_valid_text_clr: #fff;
$alert_invalid_bg_clr: $crimson_red;
$alert_invalid_text_clr: #fff;

$secondary_topbar_text_clr: $light_grey;
$secondary_topbar_text_clr_hvr: #fff;
$secondary_topbar_bg_clr: $medium_grey;
$secondary_topbar_btn_bg_clr: $primary_clr;
$secondary_topbar_btn_text_clr: #fff;
$secondary_topbar_btn_hvr_bg_clr: lighten($primary_clr, 10%);
$secondary_topbar_btn_hvr_text_clr: "";

@mixin secondary_topbar_bdr {
}

$primary_topbar_text_clr: #333;
$primary_topbar_text_clr_hvr: #aaa;
$primary_topbar_bg_clr: #fff;

@mixin primary_topbar_bdr {
	border-bottom: 1px solid #e4e4e4; // fallback.
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

$tertiary_topbar_bg_clr: #f5f4f4;
$tertiary_topbar_text_clr: "";
$tertiary_topbar_text_clr_hvr: "";

@mixin tertiary_topbar_bdr {
	border-bottom: 1px solid #e4e4e4; // fallback.
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

$main_footer_height: 100px;
$main_footer_text_clr: "";
$main_footer_bg_clr: #fff;

@mixin main_footer_bdr {
	border-top: 1px solid #e4e4e4;
	border-top: 1px solid rgba(0,0,0,0.05);
}

@mixin main_content_bg {
}

@mixin modal_bg {
	background: url("../_images/f5f4f4-090.png");
	background: transparentize($lightest_grey, 0.1);
}

$modal_bdr_clr: $secondary_clr;
$modal_header_bg_clr: $medium_grey;
$modal_header_text_clr: #fff;
$modal_icon_clr: "";
$modal_header_icon_clr: "";
$modal_secondary_header_bg_clr: $secondary_clr;
$modal_secondary_header_text_clr: $forest_green;

$primary_btn_bg_clr: $primary_clr;
$primary_btn_text_clr: #fff;
$secondary_btn_bg_clr: $secondary_clr;
$secondary_btn_text_clr: $forest_green;















