/*

	PENSIVO LMS -
	VERSION 2.0 [CORE]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	1100300715
	theme: 		Nav Canada
	
*/

/////////////////////////////////////////////////////////////////////////

.topbar.secondary {}
.topbar.secondary .btn {background:$grey_blue;}
.topbar.secondary .btn:hover {background:darken($grey_blue, 10%);color:#ed7f40;}
.nubar {background:$oil_blue;}
.main-logo {height:24px;margin-top:-12px;}

// splash screen...

.splash-pg {
	background:#fff;
	.splash-pg-content {
		max-width:500px;
		margin:0 auto;
		position:relative;
		top:50%;
		transform:translateY(-50%);
	}
	h3 {margin:50px 0;text-align:center;}
	.branding-logo {max-width:300px;display:block;margin:0 auto;}
	.btngrp {float:none;display:table;margin:0 auto;}
}







