/*

	PENSIVO LMS -
	VERSION 2.0 [CORE]
	
	-----------------------------------------
	
	developer: 	Michel Joanisse
	email: 		mjoanisse@simplebranch.ca
	website: 	http://simplebranch.ca
	version:	935020215
	
*/

/////////////////////////////////////////////////////////////////////////

@import "../../../_styles/_reset.scss";
@import "../../../_styles/_vars.scss";
@import "_vars.scss"; // theme specifics.
@import "../../../_styles/_mixins.scss";
@import "../../../_styles/_base.scss";
@import "../../../_styles/_layout.scss";
@import "../../../_styles/_module.scss";
@import "../../../_styles/_custom.scss";
@import "_theme.scss"; // theme specifics.