﻿/* panel */
.panel, .panelcollapsed 
{
	/*background: #eee;*/
	margin: 0px;
	margin-bottom:5px;
	padding: 0px 0px 5px;	
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* panel heading */
.panel h3, .panelcollapsed h3 
{
	/*font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 4px;*/
	height:27px;
	background: #6C7073 url(arrow-up.gif) no-repeat right;
	border-bottom: 3px solid #000;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;*/
}

/* panel heading on rollover */
/*.panel h2:hover, .panelcollapsed h2:hover { background-color: #A9BCEF; }*/

/* heading of a collapsed panel */
.panelcollapsed h3 
{
	background: #6C7073 url(arrow-dn.gif) no-repeat right;
	/*border-color: #CCC;*/
}

/* panel content - do not set borders or paddings */
.panelcontent 
{ 
	/*background: #EEE; */
	/*overflow: hidden;*/
}

/* collapsed panel content */
.panelcollapsed .panelcontent { display: none !important; }

