﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/HomePage.master" AutoEventWireup="true" CodeFile="AIWVHEmergencyResponse.aspx.cs" Inherits="AIReports_AIWVHEmergencyResponse" %>
<%@ Register Src="~/AIReports/UserControl/IncidentMenu.ascx"  TagName="UC1"  TagPrefix="UC1Menu"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link rel="stylesheet" href="../_libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="../_styles/ai-reports.css" />
 
    <script   type="text/javascript">
          function GetWVHEmergencyResponse()
          {
              $.ajax( {
                  type: "POST",
                  url: "CommonInterface.aspx/getQuestions",
                  data: "{pageType:'" + "WVHEmergencyResponse" + "'}",
                  dataType: "json",
                  contentType: "application/json; charset=utf-8",
                  success: function ( data )
                  {
                      var index = 0;
                      $.each( data.d, function ( index, value )
                      {  
                          if ( index == 0 )
                          { 
                              $( "#<%=hdWVHResponseQuestionID1.ClientID%>" ).val( value.QuestionID );                               
                              $( "#spCoWorker" ).after( value.QuestionText );
                          }
                          if ( index == 1 ) 
                          {
                              $( "#<%=hdWVHResponseQuestionID2.ClientID%>" ).val( value.QuestionID );
                              $( "#spsupervisor" ).after( value.QuestionText );
                          }
                          if ( index == 2 )
                          {
                              $( "#<%=hdWVHResponseQuestionID3.ClientID%>" ).val( value.QuestionID );
                              $( "#spformeremployee" ).after( value.QuestionText );
                          }

                          if ( index == 3 )
                          {
                              $( "#<%=hdWVHResponseQuestionID4.ClientID%>" ).val( value.QuestionID );
                              $( "#lblWVHResponseQuestiontext4" ).html( value.QuestionText );
                              $( "#<%=txtOfficerName.ClientID%>" ).attr( "placeholder", value.QuestionText );
                              $( "#lblWVHResponseQuestiontext4ToolTip" ).html( value.QuestionText );
                          }
                          if ( index == 4 )
                          {
                              $( "#<%=hdWVHResponseQuestionID5.ClientID%>" ).val( value.QuestionID );
                                $( "#lblWVHResponseQuestiontext5" ).html( value.QuestionText );
                                $( "#<%=txtofficerbadgenumber.ClientID%>" ).attr( "placeholder", value.QuestionText );
                              $( "#lblWVHResponseQuestiontext5ToolTip" ).html( value.QuestionText );
                          }
                          if ( index == 5 )
                          {
                              $( "#<%=hdWVHResponseQuestionID6.ClientID%>" ).val( value.QuestionID );
                              $( "#lblWVHResponseQuestiontext6" ).html( value.QuestionText );
                              $( "#<%=txtpoliceoccurrencenumber.ClientID%>" ).attr( "placeholder", value.QuestionText );
                              $( "#lblWVHResponseQuestiontext6ToolTip" ).html( value.QuestionText );
                          }
                      } );
                  },
                  error: function ( XMLHttpRequest, textStatus, errorThrown )
                  {
                      //alert( errorThrown );
                  }
              } );
          }
          $( document ).ready( function ()
          {
              GetWVHEmergencyResponse();
              ToggelContainerDisplay();
          });


        function ToggelContainerDisplay()
          {
            if ( $( "#<%=Chkformeremployee.ClientID%>" ).is( ":checked" ) )
            {
                $( "#<%=divQuestionID.ClientID%>" ).show();
            }
            else
            {
                $( "#<%=divQuestionID.ClientID%>" ).hide();
                $( "#<%=txtOfficerName.ClientID%>" ).val( " " );
                $( "#<%=txtofficerbadgenumber.ClientID%>" ).val( " " );                
                $( "#<%=txtpoliceoccurrencenumber.ClientID%>" ).val( " " );                
            }             
        }
        </script> 
<section id="main-content" class="pg-ca-preventions">
<span class="mask"></span>
<div class="wrapper">
	<div class="plms-alert secondary-clr">
      <p>
                    <%=Resources.Resource.lblAccidentIncident %>
                    <strong class="employee-name">
                        <asp:Label ID="lblEmpName" runat="server" /></strong> (<%=Resources.Resource.lblAISite %> #<span class="site-num"><asp:Label ID="lblSite" runat="server" /></span>, <%=Resources.Resource.lblEmployeeID %> <span class="employee-id">
                            <asp:Label ID="lblEmpID" runat="server" /></span>)
      </p>    </div><!--End .plms-alert-->
    	
  
	
	<div class="plms-alert neutral">
		<p class="mandatory-fields-message">
		<i class="req-icon" title="Mandatory Field">*</i>
	    <%=Resources.Resource.lblMandatoryField %></p>
	</div><!--End .plms-alert-->
	

	<div class="layout-sidebar-right">

		<div class="boxed-content">
			
			<div class="boxed-content-body">
			
			<header class="boxed-content-header">
			<h2> <%=Resources.Resource.lblWVHEmergencyResponse %> </h2>
			 
			</header>
			<div class="fieldset-group">
			<p class="bold">  <%=Resources.Resource.lblClickAll %>    </p>
			

			<div class="label-checkbox-group">
            <asp:HiddenField  ID="hdWVHResponseQuestionID1"  runat="server" />
			<label class="checkbox-input-label" for="ContentPlaceHolder1_Chkcoworker"><input type="checkbox" id="Chkcoworker" name="co-worker"   runat="server" /> <span  id="spCoWorker"></span> </label> 
            <asp:HiddenField  ID="hdWVHResponseQuestionID2"  runat="server" /> 
			<label class="checkbox-input-label" for="ContentPlaceHolder1_Chksupervisor"><input type="checkbox" id="Chksupervisor" name="supervisor"   runat="server"/>
                 <span  id="spsupervisor"></span>                
			</label> 
             <asp:HiddenField  ID="hdWVHResponseQuestionID3"  runat="server" /> 
			 <label class="checkbox-input-label" for="ContentPlaceHolder1_Chkformeremployee"><input type="checkbox" id="Chkformeremployee" name="former-employee"  runat="server"  onchange='ToggelContainerDisplay();' />
                <span  id="spformeremployee"></span>
             </label>
			</div><!--End .label-checkbox-group-->
   			</div><!--End .fieldset-group-->

            
			<div id="divQuestionID"   runat="server">
			<div class="plms-fieldset">
            <asp:HiddenField  ID="hdWVHResponseQuestionID4"  runat="server" />
			<label class="plms-label is-hidden" for="officer-name" id="lblWVHResponseQuestiontext4"> </label>
			<div class="plms-tooltip-parent">
                <asp:TextBox  ID="txtOfficerName"  runat="server"  CssClass="plms-input skin2"></asp:TextBox>			  
			<div class="plms-tooltip plms-tooltip-micro active left-top outside autow label-replacement">
			<div class="plms-tooltip-body">
			<p id ="lblWVHResponseQuestiontext4ToolTip"></p>
			</div><!--End .plms-tooltip-body-->
			</div><!--End .plms-tooltip-->
			</div><!--End .plms-tooltip-parent-->
			</div><!--End .plms-fieldset-->
			

			<div class="plms-fieldset">
            <asp:HiddenField  ID="hdWVHResponseQuestionID5"  runat="server" />
			<label class="plms-label is-hidden" for="officer-badge-number" id="lblWVHResponseQuestiontext5"> </label>
			<div class="plms-tooltip-parent">
            <asp:TextBox  ID="txtofficerbadgenumber"  runat="server"  CssClass="plms-input skin2"></asp:TextBox>		
			<div class="plms-tooltip plms-tooltip-micro active left-top outside autow label-replacement">
			<div class="plms-tooltip-body">
			<p  id="lblWVHResponseQuestiontext5ToolTip"></p>
			</div><!--End .plms-tooltip-body-->
			</div><!--End .plms-tooltip-->
			</div><!--End .plms-tooltip-parent-->
			</div><!--End .plms-fieldset-->
              
              			
			<div class="plms-fieldset">
            <asp:HiddenField  ID="hdWVHResponseQuestionID6"  runat="server" />
			<label class="plms-label is-hidden" for="police-occurrence-number" id="lblWVHResponseQuestiontext6"></label>
			<div class="plms-tooltip-parent">
            <asp:TextBox  ID="txtpoliceoccurrencenumber"  runat="server"  CssClass="plms-input skin2"></asp:TextBox>	 
			<div class="plms-tooltip plms-tooltip-micro active left-top outside autow label-replacement">
			<div class="plms-tooltip-body">
			<p id="lblWVHResponseQuestiontext6ToolTip"> </p>
			</div><!--End .plms-tooltip-body-->
			</div><!--End .plms-tooltip-->
			</div><!--End .plms-tooltip-parent-->
			</div><!--End .plms-fieldset-->
			</div>	
			</div><!--End .boxed-content-body-->
			

			<nav class="pagination-nav">
			   <asp:Button  ID="btnNext"  runat="server"  title= "<%$ Resources:Resource, lblNext %>" Text="<%$ Resources:Resource, btnNext %>" class="btn large align-r" OnClick="btnNext_Click"    />
                <asp:Button ID="btnPrevious" runat="server" title="<%$ Resources:Resource, lblPrevious  %>" Text="<%$ Resources:Resource, lblPrevious %>" class="btn large" OnClick="btnPrevious_Click"/>
            
            </nav><!--End .pagination-nav-->
		
		</div><!--End .boxed-content-->
		
		<aside id="main-aside">
			<div class="aside-toggle-handle">
				<div class="flyout-message-wrapper">
					<a href="#toggle-aside" class="btn">
						<i class="icon"></i>
						<span><%=Resources.Resource.lblHideMenu %></span>
					</a>
				</div><!--End .flyout-message-wrapper-->
			</div><!--End .aside-toggle-handle-->
			
			<nav class="aside-main-nav">
		     <UC1Menu:UC1  ID="lblmenu"   runat="server"/>
			</nav><!--End .aside-main-nav-->
		</aside><!--End #main-aside-->
	
	</div><!--End .layout-sidebar-right-->
	

	<footer>
	<div class="btngrp">
        <asp:Button  ID="btnSaveAndExit"  runat="server"  title= "<%$ Resources:Resource, lblSaveAndExitLater  %>" Text="<%$ Resources:Resource, lblSaveAndExitLater %>" class="btn large" OnClick="btnSaveAndExit_Click"   />

        <asp:Button  ID="btnSubmitmyReport"  runat="server"  title= "<%$ Resources:Resource, lblSubmitMyReport  %>" Text="<%$ Resources:Resource, lblSubmitMyReport %>" class="btn large align-r" OnClick="btnSubmitmyReport_Click" />
         
	</div>
	</footer>
</div>
</section><!--End #main-content-->
 
    
</asp:Content>

